{
  "http_interactions": [
    {
      "recorded_at": "2016-05-22T21:20:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"login\":\"<GITHUB_NAMESPACE>\",\"id\":254441,\"avatar_url\":\"https://avatars.githubusercontent.com/u/254441?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>\",\"html_url\":\"https://github.com/<GITHUB_NAMESPACE>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"<GITHUB_NAMESPACE>\",\"company\":null,\"blog\":\"http://<GITHUB_NAMESPACE>.got.nothing.to/blog/\",\"location\":\"Paris\",\"email\":null,\"hireable\":true,\"bio\":null,\"public_repos\":73,\"public_gists\":14,\"followers\":44,\"following\":13,\"created_at\":\"2010-04-27T14:04:09Z\",\"updated_at\":\"2016-03-26T00:48:05Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"a03b1823bdc81ce18c8fad535632335e\"",
          "Last-Modified": "Sat, 26 Mar 2016 00:48:05 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "delete_repo, gist, repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4973",
          "X-RateLimit-Reset": "1463952313"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/user"
      }
    },
    {
      "recorded_at": "2016-05-22T21:20:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/guyzmo/git-repo"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":54787116,\"name\":\"git-repo\",\"full_name\":\"guyzmo/git-repo\",\"owner\":{\"login\":\"<GITHUB_NAMESPACE>\",\"id\":254441,\"avatar_url\":\"https://avatars.githubusercontent.com/u/254441?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>\",\"html_url\":\"https://github.com/<GITHUB_NAMESPACE>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/guyzmo/git-repo\",\"description\":\"Git-Repo: CLI utility to manage git services from your workspace\",\"fork\":false,\"url\":\"https://api.github.com/repos/guyzmo/git-repo\",\"forks_url\":\"https://api.github.com/repos/guyzmo/git-repo/forks\",\"keys_url\":\"https://api.github.com/repos/guyzmo/git-repo/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/guyzmo/git-repo/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/guyzmo/git-repo/teams\",\"hooks_url\":\"https://api.github.com/repos/guyzmo/git-repo/hooks\",\"issue_events_url\":\"https://api.github.com/repos/guyzmo/git-repo/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/guyzmo/git-repo/events\",\"assignees_url\":\"https://api.github.com/repos/guyzmo/git-repo/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/guyzmo/git-repo/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/guyzmo/git-repo/tags\",\"blobs_url\":\"https://api.github.com/repos/guyzmo/git-repo/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/guyzmo/git-repo/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/guyzmo/git-repo/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/guyzmo/git-repo/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/guyzmo/git-repo/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/guyzmo/git-repo/languages\",\"stargazers_url\":\"https://api.github.com/repos/guyzmo/git-repo/stargazers\",\"contributors_url\":\"https://api.github.com/repos/guyzmo/git-repo/contributors\",\"subscribers_url\":\"https://api.github.com/repos/guyzmo/git-repo/subscribers\",\"subscription_url\":\"https://api.github.com/repos/guyzmo/git-repo/subscription\",\"commits_url\":\"https://api.github.com/repos/guyzmo/git-repo/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/guyzmo/git-repo/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/guyzmo/git-repo/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/guyzmo/git-repo/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/guyzmo/git-repo/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/guyzmo/git-repo/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/guyzmo/git-repo/merges\",\"archive_url\":\"https://api.github.com/repos/guyzmo/git-repo/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/guyzmo/git-repo/downloads\",\"issues_url\":\"https://api.github.com/repos/guyzmo/git-repo/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/guyzmo/git-repo/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/guyzmo/git-repo/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/guyzmo/git-repo/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/guyzmo/git-repo/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/guyzmo/git-repo/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/guyzmo/git-repo/deployments\",\"created_at\":\"2016-03-26T16:05:52Z\",\"updated_at\":\"2016-05-20T08:11:33Z\",\"pushed_at\":\"2016-05-22T21:10:24Z\",\"git_url\":\"git://github.com/guyzmo/git-repo.git\",\"ssh_url\":\"git@github.com:guyzmo/git-repo.git\",\"clone_url\":\"https://github.com/guyzmo/git-repo.git\",\"svn_url\":\"https://github.com/guyzmo/git-repo\",\"homepage\":\"\",\"size\":264,\"stargazers_count\":14,\"watchers_count\":14,\"language\":\"Python\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":3,\"mirror_url\":null,\"open_issues_count\":5,\"forks\":3,\"open_issues\":5,\"watchers\":14,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"network_count\":3,\"subscribers_count\":2}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"9bf86ff30cc59b88ffa014464726fbc8\"",
          "Last-Modified": "Fri, 20 May 2016 08:11:33 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "delete_repo, gist, repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4972",
          "X-RateLimit-Reset": "1463952313"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/guyzmo/git-repo"
      }
    },
    {
      "recorded_at": "2016-05-22T21:20:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/guyzmo/git-repo/pulls?per_page=100&sort=created&direction=desc"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"url\":\"https://api.github.com/repos/guyzmo/git-repo/pulls/3\",\"id\":69487956,\"html_url\":\"https://github.com/guyzmo/git-repo/pull/3\",\"diff_url\":\"https://github.com/guyzmo/git-repo/pull/3.diff\",\"patch_url\":\"https://github.com/guyzmo/git-repo/pull/3.patch\",\"issue_url\":\"https://api.github.com/repos/guyzmo/git-repo/issues/3\",\"number\":3,\"state\":\"open\",\"locked\":false,\"title\":\"docs for fqdn > url\",\"user\":{\"login\":\"guyhughes\",\"id\":5915486,\"avatar_url\":\"https://avatars.githubusercontent.com/u/5915486?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/guyhughes\",\"html_url\":\"https://github.com/guyhughes\",\"followers_url\":\"https://api.github.com/users/guyhughes/followers\",\"following_url\":\"https://api.github.com/users/guyhughes/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/guyhughes/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/guyhughes/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/guyhughes/subscriptions\",\"organizations_url\":\"https://api.github.com/users/guyhughes/orgs\",\"repos_url\":\"https://api.github.com/users/guyhughes/repos\",\"events_url\":\"https://api.github.com/users/guyhughes/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/guyhughes/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Fixes the docs since `fqdn` is used instead of `url`.\",\"created_at\":\"2016-05-10T11:11:58Z\",\"updated_at\":\"2016-05-10T14:04:41Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":\"9a4fba06e40a8adae75d591fe028e2a7fb866907\",\"assignee\":null,\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/guyzmo/git-repo/pulls/3/commits\",\"review_comments_url\":\"https://api.github.com/repos/guyzmo/git-repo/pulls/3/comments\",\"review_comment_url\":\"https://api.github.com/repos/guyzmo/git-repo/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/guyzmo/git-repo/issues/3/comments\",\"statuses_url\":\"https://api.github.com/repos/guyzmo/git-repo/statuses/61ec4607e4e90778a27d6493dfcf81fcbbdef5db\",\"head\":{\"label\":\"guyhughes:fix-url-to-fqdn\",\"ref\":\"fix-url-to-fqdn\",\"sha\":\"61ec4607e4e90778a27d6493dfcf81fcbbdef5db\",\"user\":{\"login\":\"guyhughes\",\"id\":5915486,\"avatar_url\":\"https://avatars.githubusercontent.com/u/5915486?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/guyhughes\",\"html_url\":\"https://github.com/guyhughes\",\"followers_url\":\"https://api.github.com/users/guyhughes/followers\",\"following_url\":\"https://api.github.com/users/guyhughes/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/guyhughes/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/guyhughes/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/guyhughes/subscriptions\",\"organizations_url\":\"https://api.github.com/users/guyhughes/orgs\",\"repos_url\":\"https://api.github.com/users/guyhughes/repos\",\"events_url\":\"https://api.github.com/users/guyhughes/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/guyhughes/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":58385099,\"name\":\"git-repo\",\"full_name\":\"guyhughes/git-repo\",\"owner\":{\"login\":\"guyhughes\",\"id\":5915486,\"avatar_url\":\"https://avatars.githubusercontent.com/u/5915486?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/guyhughes\",\"html_url\":\"https://github.com/guyhughes\",\"followers_url\":\"https://api.github.com/users/guyhughes/followers\",\"following_url\":\"https://api.github.com/users/guyhughes/following{/other_user}\",\"gists_url\":\"https://api.gi[...]
