{
  "http_interactions": [
    {
      "recorded_at": "2016-03-30T14:11:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"name\":\"git-repo-test\",\"username\":\"git-repo-test\",\"id\":470686,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/59014873897ec9bf64471e4ddf61c8d5?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/u/git-repo-test\",\"created_at\":\"2016-03-30T13:15:50.649Z\",\"is_admin\":false,\"bio\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"\",\"website_url\":\"\",\"last_sign_in_at\":\"2016-03-30T13:19:50.252Z\",\"confirmed_at\":\"2016-03-30T13:18:12.005Z\",\"email\":\"guyzmo+git-repo+projects+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":1,\"projects_limit\":100000,\"current_sign_in_at\":\"2016-03-30T13:19:50.252Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_token\":\"<PRIVATE_KEY_GITLAB>\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"76175f0e11cbbd54fc8475d86a9ab425\"",
          "Status": "200 OK"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/user"
      }
    },
    {
      "recorded_at": "2016-03-30T14:11:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/sigmavirus24%2Fgithub3-py"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":7817,\"description\":\"\",\"default_branch\":\"develop\",\"tag_list\":[],\"public\":true,\"archived\":false,\"visibility_level\":20,\"ssh_url_to_repo\":\"git@gitlab.com:sigmavirus24/github3-py.git\",\"http_url_to_repo\":\"https://gitlab.com/sigmavirus24/github3-py.git\",\"web_url\":\"https://gitlab.com/sigmavirus24/github3-py\",\"owner\":{\"name\":\"Ian Cordasco\",\"username\":\"sigmavirus24\",\"id\":6325,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/396e3de53320abf9855d912cd3d9431f?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/u/sigmavirus24\"},\"name\":\"github3.py\",\"name_with_namespace\":\"Ian Cordasco / github3.py\",\"path\":\"github3-py\",\"path_with_namespace\":\"sigmavirus24/github3-py\",\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"builds_enabled\":false,\"snippets_enabled\":false,\"created_at\":\"2013-07-07T04:31:48.000Z\",\"last_activity_at\":\"2014-12-21T15:58:17.464Z\",\"shared_runners_enabled\":true,\"creator_id\":6325,\"namespace\":{\"id\":6577,\"name\":\"sigmavirus24\",\"path\":\"sigmavirus24\",\"owner_id\":6325,\"created_at\":\"2013-07-07T04:31:15.000Z\",\"updated_at\":\"2014-04-25T07:48:18.000Z\",\"description\":\"\",\"avatar\":null,\"membership_lock\":false,\"share_with_group_lock\":false,\"visibility_level\":20,\"last_ldap_sync_at\":null},\"avatar_url\":null,\"star_count\":0,\"forks_count\":1,\"open_issues_count\":0,\"public_builds\":true,\"permissions\":{\"project_access\":null,\"group_access\":null}}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"197961aba84cfdcf1367ceb54f51c79e\"",
          "Status": "200 OK"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/projects/sigmavirus24%2Fgithub3-py"
      }
    },
    {
      "recorded_at": "2016-03-30T14:11:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{}"
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "POST",
        "uri": "https://gitlab.com/api/v3/projects/fork/7817"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1015165,\"description\":\"\",\"default_branch\":null,\"tag_list\":[],\"public\":true,\"archived\":false,\"visibility_level\":20,\"ssh_url_to_repo\":\"git@gitlab.com:git-repo-test/github3-py.git\",\"http_url_to_repo\":\"https:/[...]
