{
  "http_interactions": [
    {
      "recorded_at": "2019-08-26T21:21:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"bio\":\": :(){ :|:\\u0026 };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"public_email\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"https://twitter.com/<GITLAB_NAMESPACE>\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":\"\",\"last_sign_in_at\":\"2019-08-19T16:34:20.318Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"last_activity_on\":\"2019-08-26\",\"email\":\"<GITLAB_NAMESPACE>+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":2,\"projects_limit\":100000,\"current_sign_in_at\":\"2019-08-26T12:05:47.884Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_profile\":false,\"shared_runners_minutes_limit\":2000,\"extra_shared_runners_minutes_limit\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"c277655375af222ec17621ae3125a5fd\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "8",
          "RateLimit-Remaining": "592",
          "RateLimit-Reset": "1566854572",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:22:52 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/user"
      }
    },
    {
      "recorded_at": "2019-08-26T21:21:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/projects/git-repo-test%2Fsubgroup%2Ftest-repo"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":4685682,\"description\":\"This is a test repository for testing the subgroup feature.\",\"name\":\"test-repo\",\"name_with_namespace\":\"git-repo-test / This is a test subgroup. / test-repo\",\"path\":\"test-repo\",\"path_with_namespace\":\"git-repo-test/subgroup/test-repo\",\"created_at\":\"2017-11-18T18:31:01.883Z\",\"default_branch\":\"master\",\"tag_list\":[],\"ssh_url_to_repo\":\"git@gitlab.com:git-repo-test/subgroup/test-repo.git\",\"http_url_to_repo\":\"https://gitlab.com/git-repo-test/subgroup/test-repo.git\",\"web_url\":\"https://gitlab.com/git-repo-test/subgroup/test-repo\",\"readme_url\":\"https://gitlab.com/git-repo-test/subgroup/test-repo/blob/master/README.md\",\"avatar_url\":null,\"star_count\":0,\"forks_count\":0,\"last_activity_at\":\"2017-11-18T18:31:01.883Z\",\"namespace\":{\"id\":2206971,\"name\":\"This is a test subgroup.\",\"path\":\"subgroup\",\"kind\":\"group\",\"full_path\":\"git-repo-test/subgroup\",\"parent_id\":938543,\"avatar_url\":null,\"web_url\":\"https://gitlab.com/groups/git-repo-test/subgroup\"},\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/4685682\",\"issues\":\"https://gitlab.com/api/v4/projects/4685682/issues\",\"merge_requests\":\"https://gitlab.com/api/v4/projects/4685682/merge_requests\",\"repo_branches\":\"https://gitlab.com/api/v4/projects/4685682/repository/branches\",\"labels\":\"https://gitlab.com/api/v4/projects/4685682/labels\",\"events\":\"https://gitlab.com/api/v4/projects/4685682/events\",\"members\":\"https://gitlab.com/api/v4/projects/4685682/members\"},\"empty_repo\":false,\"archived\":false,\"visibility\":\"public\",\"resolve_outdated_diff_discussions\":false,\"container_registry_enabled\":true,\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"jobs_enabled\":true,\"snippets_enabled\":true,\"issues_access_level\":\"enabled\",\"repository_access_level\":\"enabled\",\"merge_requests_access_level\":\"enabled\",\"wiki_access_level\":\"enabled\",\"builds_access_level\":\"enabled\",\"snippets_access_level\":\"enabled\",\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":459552,\"import_status\":\"none\",\"import_error\":null,\"open_issues_count\":0,\"runners_token\":\"e9XxG55vt8hyZT6MJxve\",\"ci_default_git_depth\":null,\"public_jobs\":true,\"build_git_strategy\":\"fetch\",\"build_timeout\":3600,\"auto_cancel_pending_pipelines\":\"enabled\",\"build_coverage_regex\":null,\"ci_config_path\":null,\"shared_with_groups\":[],\"only_allow_merge_if_pipeline_succeeds\":false,\"request_access_enabled\":false,\"only_allow_merge_if_all_discussions_are_resolved\":false,\"printing_merge_request_link_enabled\":true,\"merge_method\":\"merge\",\"auto_devops_enabled\":false,\"auto_devops_deploy_strategy\":\"continuous\",\"permissions\":{\"project_access\":null,\"group_access\":{\"access_level\":50,\"notification_level\":3}},\"approvals_before_merge\":0,\"mirror\":false,\"external_authorization_classification_label\":\"\",\"packages_enabled\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"abdfb3a4e7e40db1ee91d179aab820ca\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "9",
          "RateLimit-Remaining": "591",
          "RateLimit-Reset": "1566854573",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:22:53 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/projects/git-repo-test%2Fsubgroup%2Ftest-repo"
      }
    },
    {
      "recorded_at": "2019-08-26T21:21:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/projects/4685682/repository/tree?recursive=False"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":\"655302fb876ad5f8c8e700618cd4f4e9adc8830a\",\"name\":\"README.md\",\"type\":\"blob\",\"path\":\"README.md\",\"mode\":\"100644\"}]"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"98a04eb3e181466ef9fec7c7864cb4a8\"",
          "Link": "<https://gitlab.com/api/v4/projects/4685682/repository/tree?id=4685682&page=1&per_page=20&recursive=false>; rel=\"first\", <https://gitlab.com/api/v4/projects/4685682/repository/tree?id=4685682&page=1&per_page=20&recursive=false>; rel=\"last\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "10",
          "RateLimit-Remaining": "590",
          "RateLimit-Reset": "1566854573",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:22:53 GMT",
          "X-Next-Page": "",
          "X-Page": "1",
          "X-Per-Page": "20",
          "X-Prev-Page": "",
          "X-Total": "1",
          "X-Total-Pages": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/projects/4685682/repository/tree?recursive=False"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}