{
  "http_interactions": [
    {
      "recorded_at": "2017-12-17T11:37:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic UGhhbnRvbS00MjovRk45NTI2TE84MkxYTXJucWJUNWE3Y25wSkY4b2hVTVFRQ1l6TkgzTVE=",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://review.gerrithub.io/a/config/server/version"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ")]}'\n\"2.13.6-3044-g7e9c06d\"\n"
        },
        "headers": {
          "Content-Disposition": "attachment",
          "Content-Type": "application/json;charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://review.gerrithub.io/a/config/server/version"
      }
    },
    {
      "recorded_at": "2017-12-17T11:37:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic UGhhbnRvbS00MjovRk45NTI2TE84MkxYTXJucWJUNWE3Y25wSkY4b2hVTVFRQ1l6TkgzTVE=",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://review.gerrithub.io/a/changes/?q=change:%20I873f1207d6&o=CURRENT_REVISION"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ")]}'\n[{\"id\":\"TestUser%2FDemoRepository~master~I873f1207d660256dd00851852754b8bc3cd7a321\",\"project\":\"Phantom-42/DemoRepository\",\"branch\":\"master\",\"hashtags\":[],\"change_id\":\"I873f1207d660256dd00851852754b8bc3cd7a321\",\"subject\":\"Test2\",\"status\":\"NEW\",\"created\":\"2017-12-17 08:22:09.808000000\",\"updated\":\"2017-12-17 08:23:37.652000000\",\"submit_type\":\"MERGE_IF_NECESSARY\",\"mergeable\":true,\"insertions\":2,\"deletions\":0,\"unresolved_comment_count\":0,\"_number\":392089,\"owner\":{\"_account_id\":1013076},\"current_revision\":\"010ea1b90c48f414f868b854e7cd946802bbd58d\",\"revisions\":{\"010ea1b90c48f414f868b854e7cd946802bbd58d\":{\"kind\":\"REWORK\",\"_number\":2,\"created\":\"2017-12-17 08:23:37.652000000\",\"uploader\":{\"_account_id\":1013076},\"ref\":\"refs/changes/89/392089/2\",\"fetch\":{\"ssh\":{\"url\":\"ssh://Phantom-42@review.gerrithub.io:29418/Phantom-42/DemoRepository\",\"ref\":\"refs/changes/89/392089/2\"},\"anonymous http\":{\"url\":\"https://review.gerrithub.io/Phantom-42/DemoRepository\",\"ref\":\"refs/changes/89/392089/2\"},\"http\":{\"url\":\"https://Phantom-42@review.gerrithub.io/a/Phantom-42/DemoRepository\",\"ref\":\"refs/changes/89/392089/2\"}}}}}]\n"
        },
        "headers": {
          "Content-Disposition": "attachment",
          "Content-Type": "application/json;charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://review.gerrithub.io/a/changes/?q=change:%20I873f1207d6&o=CURRENT_REVISION"
      }
    },
    {
      "recorded_at": "2017-12-17T11:37:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic UGhhbnRvbS00MjovRk45NTI2TE84MkxYTXJucWJUNWE3Y25wSkY4b2hVTVFRQ1l6TkgzTVE=",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://review.gerrithub.io/a/changes/I873f1207d6/"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ")]}'\n{\"id\":\"Phantom-42%2FDemoRepository~master~I873f1207d660256dd00851852754b8bc3cd7a321\",\"project\":\"Phantom-42/DemoRepository\",\"branch\":\"master\",\"hashtags\":[],\"change_id\":\"I873f1207d660256dd00851852754b8bc3cd7a321\",\"subject\":\"Test2\",\"status\":\"NEW\",\"created\":\"2017-12-17 08:22:09.808000000\",\"updated\":\"2017-12-17 08:23:37.652000000\",\"submit_type\":\"MERGE_IF_NECESSARY\",\"mergeable\":true,\"insertions\":2,\"deletions\":0,\"unresolved_comment_count\":0,\"_number\":392089,\"owner\":{\"_account_id\":1013076}}\n"
        },
        "headers": {
          "Content-Disposition": "attachment",
          "Content-Type": "application/json;charset=utf-8",
          "ETag": "91431ddfec9102cd51eddb5fc36ba743"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://review.gerrithub.io/a/changes/I873f1207d6/"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}
