{
  "http_interactions": [
    {
      "recorded_at": "2019-08-26T22:23:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"bio\":\": :(){ :|:\\u0026 };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"public_email\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"https://twitter.com/<GITLAB_NAMESPACE>\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":\"\",\"last_sign_in_at\":\"2019-08-19T16:34:20.318Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"last_activity_on\":\"2019-08-26\",\"email\":\"<GITLAB_NAMESPACE>+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":2,\"projects_limit\":100000,\"current_sign_in_at\":\"2019-08-26T12:05:47.884Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_profile\":false,\"shared_runners_minutes_limit\":2000,\"extra_shared_runners_minutes_limit\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"c277655375af222ec17621ae3125a5fd\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "7",
          "RateLimit-Remaining": "593",
          "RateLimit-Reset": "1566858269",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 22:24:29 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/user"
      }
    },
    {
      "recorded_at": "2019-08-26T22:23:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/projects/<GITLAB_NAMESPACE>%2Ftest_create_requests"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":13999298,\"description\":null,\"name\":\"test_create_requests\",\"name_with_namespace\":\"Guyzmo / test_create_requests\",\"path\":\"test_create_requests\",\"path_with_namespace\":\"<GITLAB_NAMESPACE>/test_create_requests\",\"created_at\":\"2019-08-26T22:23:23.048Z\",\"default_branch\":\"master\",\"tag_list\":[],\"ssh_url_to_repo\":\"git@gitlab.com:<GITLAB_NAMESPACE>/test_create_requests.git\",\"http_url_to_repo\":\"https://gitlab.com/<GITLAB_NAMESPACE>/test_create_requests.git\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>/test_create_requests\",\"readme_url\":null,\"avatar_url\":null,\"star_count\":0,\"forks_count\":0,\"last_activity_at\":\"2019-08-26T22:23:23.048Z\",\"namespace\":{\"id\":540439,\"name\":\"Guyzmo\",\"path\":\"<GITLAB_NAMESPACE>\",\"kind\":\"user\",\"full_path\":\"<GITLAB_NAMESPACE>\",\"parent_id\":null,\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\"},\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/13999298\",\"issues\":\"https://gitlab.com/api/v4/projects/13999298/issues\",\"merge_requests\":\"https://gitlab.com/api/v4/projects/13999298/merge_requests\",\"repo_branches\":\"https://gitlab.com/api/v4/projects/13999298/repository/branches\",\"labels\":\"https://gitlab.com/api/v4/projects/13999298/labels\",\"events\":\"https://gitlab.com/api/v4/projects/13999298/events\",\"members\":\"https://gitlab.com/api/v4/projects/13999298/members\"},\"empty_repo\":false,\"archived\":false,\"visibility\":\"private\",\"owner\":{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\"},\"resolve_outdated_diff_discussions\":false,\"container_registry_enabled\":true,\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"jobs_enabled\":true,\"snippets_enabled\":true,\"issues_access_level\":\"enabled\",\"repository_access_level\":\"enabled\",\"merge_requests_access_level\":\"enabled\",\"wiki_access_level\":\"enabled\",\"builds_access_level\":\"enabled\",\"snippets_access_level\":\"enabled\",\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":459552,\"import_status\":\"none\",\"import_error\":null,\"open_issues_count\":0,\"runners_token\":\"zwEDesj_xTah3LJ19edF\",\"ci_default_git_depth\":50,\"public_jobs\":true,\"build_git_strategy\":\"fetch\",\"build_timeout\":3600,\"auto_cancel_pending_pipelines\":\"enabled\",\"build_coverage_regex\":null,\"ci_config_path\":null,\"shared_with_groups\":[],\"only_allow_merge_if_pipeline_succeeds\":false,\"request_access_enabled\":false,\"only_allow_merge_if_all_discussions_are_resolved\":false,\"printing_merge_request_link_enabled\":true,\"merge_method\":\"merge\",\"auto_devops_enabled\":false,\"auto_devops_deploy_strategy\":\"continuous\",\"permissions\":{\"project_access\":{\"access_level\":40,\"notification_level\":3},\"group_access\":null},\"mirror\":false,\"external_authorization_classification_label\":\"\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"d16b14a5931cd19914fdffa5711d56ea\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "8",
          "RateLimit-Remaining": "592",
          "RateLimit-Reset": "1566858269",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 22:24:29 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/projects/<GITLAB_NAMESPACE>%2Ftest_create_requests"
      }
    },
    {
      "recorded_at": "2019-08-26T22:23:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/projects/13999298"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":13999298,\"description\":null,[...]
    {
      "recorded_at": "2019-08-26T22:23:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"source_branch\": \"master\", \"target_branch\": \"master\", \"target_project_id\": 13999298, \"title\": \"PR test\", \"description\": \"PR description\"}"
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "POST",
        "uri": "https://gitlab.com/api/v4/projects/13999298/merge_requests"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"error\":[\"You can't use same project/branch for source and target\"]}"
        },
        "headers": {
          "Content-Type": "application/json",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "10",
          "RateLimit-Remaining": "590",
          "RateLimit-Reset": "1566858269",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 22:24:29 GMT"
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        },
        "url": "https://gitlab.com/api/v4/projects/13999298/merge_requests"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}