{
  "http_interactions": [
    {
      "recorded_at": "2019-08-27T10:10:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"guyzmo\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/guyzmo\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"bio\":\": :(){ :|:\\u0026 };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"public_email\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"https://twitter.com/guyzmo\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":\"\",\"last_sign_in_at\":\"2019-08-19T16:34:20.318Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"last_activity_on\":\"2019-08-26\",\"email\":\"guyzmo+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":2,\"projects_limit\":100000,\"current_sign_in_at\":\"2019-08-26T12:05:47.884Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_profile\":false,\"shared_runners_minutes_limit\":2000,\"extra_shared_runners_minutes_limit\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"c277655375af222ec17621ae3125a5fd\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "1",
          "RateLimit-Remaining": "599",
          "RateLimit-Reset": "1566900717",
          "RateLimit-ResetTime": "Tue, 27 Aug 2019 10:11:57 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/user"
      }
    },
    {
      "recorded_at": "2019-08-27T10:10:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/projects/git-repo-test%2Fgit-repo"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1848932,\"description\":null,\"name\":\"git-repo\",\"name_with_namespace\":\"git-repo-test / git-repo\",\"path\":\"git-repo\",\"path_with_namespace\":\"git-repo-test/git-repo\",\"created_at\":\"2016-10-15T20:46:59.928Z\",\"default_branch\":\"master\",\"tag_list\":[],\"ssh_url_to_repo\":\"git@gitlab.com:git-repo-test/git-repo.git\",\"http_url_to_repo\":\"https://gitlab.com/git-repo-test/git-repo.git\",\"web_url\":\"https://gitlab.com/git-repo-test/git-repo\",\"readme_url\":\"https://gitlab.com/git-repo-test/git-repo/blob/master/README.md\",\"avatar_url\":null,\"star_count\":0,\"forks_count\":0,\"last_activity_at\":\"2017-05-06T13:28:47.261Z\",\"namespace\":{\"id\":938543,\"name\":\"git-repo-test\",\"path\":\"git-repo-test\",\"kind\":\"group\",\"full_path\":\"git-repo-test\",\"parent_id\":null,\"avatar_url\":null,\"web_url\":\"https://gitlab.com/groups/git-repo-test\"},\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/1848932\",\"issues\":\"https://gitlab.com/api/v4/projects/1848932/issues\",\"merge_requests\":\"https://gitlab.com/api/v4/projects/1848932/merge_requests\",\"repo_branches\":\"https://gitlab.com/api/v4/projects/1848932/repository/branches\",\"labels\":\"https://gitlab.com/api/v4/projects/1848932/labels\",\"events\":\"https://gitlab.com/api/v4/projects/1848932/events\",\"members\":\"https://gitlab.com/api/v4/projects/1848932/members\"},\"empty_repo\":false,\"archived\":false,\"visibility\":\"private\",\"resolve_outdated_diff_discussions\":null,\"container_registry_enabled\":true,\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"jobs_enabled\":true,\"snippets_enabled\":true,\"issues_access_level\":\"enabled\",\"repository_access_level\":\"enabled\",\"merge_requests_access_level\":\"enabled\",\"wiki_access_level\":\"enabled\",\"builds_access_level\":\"enabled\",\"snippets_access_level\":\"enabled\",\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":459552,\"import_status\":\"none\",\"import_error\":null,\"open_issues_count\":1,\"runners_token\":\"y4K3T7_nZkbGzBy3p3B_\",\"ci_default_git_depth\":null,\"public_jobs\":true,\"build_git_strategy\":\"fetch\",\"build_timeout\":3600,\"auto_cancel_pending_pipelines\":\"enabled\",\"build_coverage_regex\":null,\"ci_config_path\":null,\"shared_with_groups\":[],\"only_allow_merge_if_pipeline_succeeds\":false,\"request_access_enabled\":true,\"only_allow_merge_if_all_discussions_are_resolved\":null,\"printing_merge_request_link_enabled\":true,\"merge_method\":\"merge\",\"auto_devops_enabled\":false,\"auto_devops_deploy_strategy\":\"continuous\",\"permissions\":{\"project_access\":null,\"group_access\":{\"access_level\":50,\"notification_level\":3}},\"mirror\":false,\"external_authorization_classification_label\":\"\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"ed2e6a3822abc48ea21a47ea80c8e771\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "2",
          "RateLimit-Remaining": "598",
          "RateLimit-Reset": "1566900718",
          "RateLimit-ResetTime": "Tue, 27 Aug 2019 10:11:58 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/projects/git-repo-test%2Fgit-repo"
      }
    },
    {
      "recorded_at": "2019-08-27T10:10:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/projects/1848932/merge_requests"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":1312801,\"iid\":1,\"project_id\":1848932,\"title\":\"Adding gitlab gists and requests feature\",\"description\":null,\"state\":\"opened\",\"created_at\":\"2016-11-27T23:15:40.809Z\",\"updated_at\":\"2016-11-27T23:15:40.809Z\",\"merged_by\":null,\"merged_at\":null,\"closed_by\":null,\"closed_at\":null,\"target_branch\":\"master\",\"source_branch\":\"features/gitlab-gists-requests\",\"user_notes_count\":0,\"upvotes\":0,\"downvotes\":0,\"assignee\":null,\"author\":{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"guyzmo\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/guyzmo\"},\"assignees\":[],\"source_project_id\":1848932,\"target_project_id\":1848932,\"labels\":[],\"work_in_progress\":false,\"milestone\":null,\"merge_when_pipeline_succeeds\":false,\"merge_status\":\"cannot_be_merged\",\"sha\":null,\"merge_commit_sha\":null,\"discussion_locked\":null,\"should_remove_source_branch\":null,\"force_remove_source_branch\":null,\"reference\":\"!1\",\"web_url\":\"https://gitlab.com/git-repo-test/git-repo/merge_requests/1\",\"time_stats\":{\"time_estimate\":0,\"total_time_spent\":0,\"human_time_estimate\":null,\"human_total_time_spent\":null},\"squash\":false,\"task_completion_status\":{\"count\":0,\"completed_count\":0},\"approvals_before_merge\":null}]"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"38c2229d53232d303ebddbfc6c755b5b\"",
          "Link": "<https://gitlab.com/api/v4/projects/1848932/merge_requests?id=1848932&order_by=created_at&page=1&per_page=20&sort=desc&state=all>; rel=\"first\", <https://gitlab.com/api/v4/projects/1848932/merge_requests?id=1848932&order_by=created_at&page=1&per_page=20&sort=desc&state=all>; rel=\"last\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "3",
          "RateLimit-Remaining": "597",
          "RateLimit-Reset": "1566900718",
          "RateLimit-ResetTime": "Tue, 27 Aug 2019 10:11:58 GMT",
          "X-Next-Page": "",
          "X-Page": "1",
          "X-Per-Page": "20",
          "X-Prev-Page": "",
          "X-Total": "1",
          "X-Total-Pages": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/projects/1848932/merge_requests"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}