{
  "http_interactions": [
    {
      "recorded_at": "2016-09-11T20:32:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {},
        "method": "GET",
        "uri": "https://bitbucket.org/!api/1.0/users/<BITBUCKET_NAMESPACE>/"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"repositories\": [{\"scm\": \"git\", \"has_wiki\": false, \"last_updated\": \"2016-09-11T20:39:01.932\", \"no_forks\": false, \"created_on\": \"2016-09-11T20:39:01.836\", \"owner\": \"<BITBUCKET_NAMESPACE>\", \"logo\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/github3.py/avatar/32/?ts=1473619141\", \"email_mailinglist\": \"\", \"is_mq\": false, \"size\": 5706942, \"read_only\": false, \"fork_of\": {\"scm\": \"git\", \"has_wiki\": false, \"last_updated\": \"2014-04-25T03:03:01.439\", \"no_forks\": null, \"created_on\": \"2012-06-21T19:12:24.702\", \"owner\": \"icordasc\", \"logo\": \"https://bitbucket.org/icordasc/github3.py/avatar/32/?ts=1398387781\", \"email_mailinglist\": \"\", \"is_mq\": false, \"size\": 5741827, \"read_only\": false, \"creator\": null, \"state\": \"available\", \"utc_created_on\": \"2012-06-21 17:12:24+00:00\", \"website\": \"http://github3py.rtfd.org/\", \"description\": \"\", \"has_issues\": true, \"is_fork\": false, \"slug\": \"github3.py\", \"is_private\": false, \"name\": \"github3.py\", \"language\": \"python\", \"utc_last_updated\": \"2014-04-25 01:03:01+00:00\", \"email_writers\": false, \"no_public_forks\": false, \"resource_uri\": \"/1.0/repositories/icordasc/github3.py\"}, \"mq_of\": {\"scm\": \"git\", \"has_wiki\": false, \"last_updated\": \"2014-04-25T03:03:01.439\", \"no_forks\": null, \"created_on\": \"2012-06-21T19:12:24.702\", \"owner\": \"icordasc\", \"logo\": \"https://bitbucket.org/icordasc/github3.py/avatar/32/?ts=1398387781\", \"email_mailinglist\": \"\", \"is_mq\": false, \"size\": 5741827, \"read_only\": false, \"creator\": null, \"state\": \"available\", \"utc_created_on\": \"2012-06-21 17:12:24+00:00\", \"website\": \"http://github3py.rtfd.org/\", \"descripti[...]
    {
      "recorded_at": "2016-09-11T20:32:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=git_tutorial"
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://bitbucket.org/!api/1.0/repositories/abdo2015/git_tutorial/fork"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"scm\": \"git\", \"has_wiki\": false, \"last_updated\": \"2016-09-11T22:32:29.722\", \"no_forks\": false, \"created_on\": \"2016-09-11T22:32:29.669\", \"owner\": \"<BITBUCKET_NAMESPACE>\", \"logo\": \"https://bitbucket.org/<BITBUCKET_NAM[...]
