{
  "http_interactions": [
    {
      "recorded_at": "2019-08-26T21:29:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"bio\":\": :(){ :|:\\u0026 };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"public_email\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"https://twitter.com/<GITLAB_NAMESPACE>\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":\"\",\"last_sign_in_at\":\"2019-08-19T16:34:20.318Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"last_activity_on\":\"2019-08-26\",\"email\":\"<GITLAB_NAMESPACE>+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":2,\"projects_limit\":100000,\"current_sign_in_at\":\"2019-08-26T12:05:47.884Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_profile\":false,\"shared_runners_minutes_limit\":2000,\"extra_shared_runners_minutes_limit\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"c277655375af222ec17621ae3125a5fd\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "4",
          "RateLimit-Remaining": "596",
          "RateLimit-Reset": "1566855059",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:30:59 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/user"
      }
    },
    {
      "recorded_at": "2019-08-26T21:29:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/snippets/20696"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":20696,\"title\":\"test\",\"file_name\":\"\",\"description\":null,\"visibility\":\"public\",\"author\":{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\"},\"updated_at\":\"2016-06-09T10:12:37.091Z\",\"created_at\":\"2016-06-09T10:12:37.091Z\",\"project_id\":null,\"web_url\":\"https://gitlab.com/snippets/20696\",\"raw_url\":\"https://gitlab.com/snippets/20696/raw\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"6d984c65aa0d2d5d96c3b5b0983b5767\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "5",
          "RateLimit-Remaining": "595",
          "RateLimit-Reset": "1566855059",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:30:59 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/snippets/20696"
      }
    },
    {
      "recorded_at": "2019-08-26T21:29:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/snippets/20696/raw"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "test"
        },
        "headers": {
          "Content-Disposition": "attachment",
          "Content-Type": "text/plain",
          "Etag": "W/\"9f86d081884c7d659a2feaa0c55ad015\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "6",
          "RateLimit-Remaining": "594",
          "RateLimit-Reset": "1566855059",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:30:59 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/snippets/20696/raw"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}