{
  "http_interactions": [
    {
      "recorded_at": "2017-12-17T11:37:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic UGhhbnRvbS00MjovRk45NTI2TE84MkxYTXJucWJUNWE3Y25wSkY4b2hVTVFRQ1l6TkgzTVE=",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://review.gerrithub.io/a/config/server/version"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ")]}'\n\"2.13.6-3044-g7e9c06d\"\n"
        },
        "headers": {
          "Content-Disposition": "attachment",
          "Content-Type": "application/json;charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://review.gerrithub.io/a/config/server/version"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}
