{
  "http_interactions": [
    {
      "recorded_at": "2016-06-05T18:14:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"login\":\"<GITHUB_NAMESPACE>\",\"id\":254441,\"avatar_url\":\"https://avatars.githubusercontent.com/u/254441?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>\",\"html_url\":\"https://github.com/<GITHUB_NAMESPACE>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"<GITHUB_NAMESPACE>\",\"company\":null,\"blog\":\"http://<GITHUB_NAMESPACE>.got.nothing.to/blog/\",\"location\":\"Paris\",\"email\":null,\"hireable\":true,\"bio\":null,\"public_repos\":76,\"public_gists\":14,\"followers\":44,\"following\":13,\"created_at\":\"2010-04-27T14:04:09Z\",\"updated_at\":\"2016-03-26T00:48:05Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"9f4ba01bc52e59c5fc2388a804f573a3\"",
          "Last-Modified": "Sat, 26 Mar 2016 00:48:05 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "delete_repo, gist, repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4868",
          "X-RateLimit-Reset": "1465152222"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/user"
      }
    },
    {
      "recorded_at": "2016-06-05T18:14:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":60473994,\"name\":\"test_create_requests\",\"full_name\":\"<GITHUB_NAMESPACE>/test_create_requests\",\"owner\":{\"login\":\"<GITHUB_NAMESPACE>\",\"id\":254441,\"avatar_url\":\"https://avatars.githubusercontent.com/u/254441?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>\",\"html_url\":\"https://github.com/<GITHUB_NAMESPACE>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/<GITHUB_NAMESPACE>/test_create_requests\",\"description\":\"\",\"fork\":false,\"url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests\",\"forks_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/forks\",\"keys_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/teams\",\"hooks_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/hooks\",\"issue_events_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/events\",\"assignees_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/tags\",\"blobs_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/languages\",\"stargazers_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/stargazers\",\"contributors_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/contributors\",\"subscribers_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/subscribers\",\"subscription_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/subscription\",\"commits_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/merges\",\"archive_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/downloads\",\"issues_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/deployments\",\"created_at\":\"2016-06-05T18:14:12Z\",\"updated_at\":\"2016-06-05T18:14:12Z\",\"pushed_at\":\"2016-06-05T18:14:17Z\",\"git_url\":\"git://github.com/<GITHUB_NAMESPACE>/test_create_requests.git\",\"ssh_url\":\"git@github.com:<GITHUB_NAMESPACE>/test_create_requests.git\",\"clone_url\":\"https://github.com/<GITHUB_NAMESPACE>/test_create_requests.git\",\"svn_url\":\"https://github.com/<GITHUB_NAMESPACE>/test_create_requests\",\"homepage\":\"\",\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"network_count\":0,\"subscribers_count\":1}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"95eb627056b348a4540aae52b09c3579\"",
          "Last-Modified": "Sun, 05 Jun 2016 18:14:12 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "delete_repo, gist, repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4867",
          "X-RateLimit-Reset": "1465152222"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests"
      }
    },
    {
      "recorded_at": "2016-06-05T18:14:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"title\": \"PR test\", \"body\": \"PR description\", \"base\": \"master\", \"head\": \"<GITHUB_NAMESPACE>:does_not_exists\"}"
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/pulls"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Validation Failed\",\"errors\":[{\"resource\":\"PullRequest\",\"code\":\"missing_field\",\"field\":\"head_sha\"},{\"resource\":\"PullRequest\",\"code\":\"missing_field\",\"field\":\"base_sha\"},{\"resource\":\"PullRequest\",\"code\":\"custom\",\"message\":\"No commits between master and does_not_exists\"}],\"documentation_url\":\"https://developer.github.com/v3/pulls/#create-a-pull-request\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "422 Unprocessable Entity",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "delete_repo, gist, repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4866",
          "X-RateLimit-Reset": "1465152222"
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        },
        "url": "https://api.github.com/repos/<GITHUB_NAMESPACE>/test_create_requests/pulls"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}