{
  "http_interactions": [
    {
      "recorded_at": "2016-12-28T22:18:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOlF0WmpzZVFMaGE4NFBMZnRwaGJF",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"username\": \"guyzmo\", \"website\": \"http://i.got.nothing.to/blog\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo/hooks\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo\"}, \"repositories\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/guyzmo\"}, \"html\": {\"href\": \"https://bitbucket.org/guyzmo/\"}, \"followers\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo/followers\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/guyzmo/avatar/32/\"}, \"following\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo/following\"}, \"snippets\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo\"}}, \"created_on\": \"2008-09-20T15:08:53.695316+00:00\", \"location\": null, \"type\": \"user\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"321b3bdea810843db96c90951905a5e3\"",
          "X-Accepted-OAuth-Scopes": "account",
          "X-OAuth-Scopes": "snippet:write, snippet, repository:delete, repository:admin, pullrequest:write, repository, project:write, project, team, account",
          "X-Render-Time": "0.029464006424",
          "X-Request-Count": "405",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/user"
      }
    },
    {
      "recorded_at": "2016-12-28T22:18:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--b05662b0f8494da58db507985a032932\r\nContent-Disposition: form-data; name=\"random-fortune-1.txt\"; filename=\"random-fortune-1.txt\"\r\n\r\nYour best consolation is the hope that the things you failed to get weren't\nreally worth having.\n\r\n--b05662b0f8494da58db507985a032932--\r\n"
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOlF0WmpzZVFMaGE4NFBMZnRwaGJF",
          "Content-Type": "multipart/form-data; boundary=b05662b0f8494da58db507985a032932",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "POST",
        "uri": "https://api.bitbucket.org/2.0/snippets"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"scm\": \"git\", \"files\": {}, \"links\": {\"watchers\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/Lq8by/watchers\"}, \"commits\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/Lq8by/commits\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/Lq8by\"}, \"comments\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/Lq8by/comments\"}, \"patch\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/Lq8by/251680c4193c258868829bb9b2e2c515eb5ec585/patch\"}, \"html\": {\"href\": \"https://bitbucket.org/snippets/guyzmo/Lq8by\"}, \"diff\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/Lq8by/251680c4193c258868829bb9b2e2c515eb5ec585/diff\"}, \"clone\": [{\"href\": \"https://guyzmo@bitbucket.org/snippets/guyzmo/Lq8by/untitled-snippet.git\", \"name\": \"https\"}, {\"href\": \"ssh://git@bitbucket.org/snippets/guyzmo/Lq8by/untitled-snippet.git\", \"name\": \"ssh\"}]}, \"creator\": {\"username\": \"guyzmo\", \"type\": \"user\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo\"}, \"html\": {\"href\": \"https://bitbucket.org/guyzmo/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/guyzmo/avatar/32/\"}}}, \"title\": \"\", \"created_on\": \"2016-12-28T22:18:42.727847+00:00\", \"owner\": {\"username\": \"guyzmo\", \"type\": \"user\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo\"}, \"html\": {\"href\": \"https://bitbucket.org/guyzmo/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/guyzmo/avatar/32/\"}}}, \"updated_on\": \"2016-12-28T22:18:42.727866+00:00\", \"type\": \"snippet\", \"id\": \"Lq8by\", \"is_private\": false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"19f4708e2b75f2c17d2399d7c4992e1e\"",
          "Location": "https://api.bitbucket.org/2.0/snippets/guyzmo/Lq8by",
          "X-Accepted-OAuth-Scopes": "snippet:write",
          "X-OAuth-Scopes": "snippet:write, snippet, repository:delete, repository:admin, pullrequest:write, repository, project:write, project, team, account",
          "X-Render-Time": "0.395332813263",
          "X-Request-Count": "290",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 201,
          "message": "CREATED"
        },
        "url": "https://api.bitbucket.org/2.0/snippets"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}