{
  "http_interactions": [
    {
      "recorded_at": "2016-12-28T22:18:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOlF0WmpzZVFMaGE4NFBMZnRwaGJF",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"username\": \"guyzmo\", \"website\": \"http://i.got.nothing.to/blog\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo/hooks\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo\"}, \"repositories\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/guyzmo\"}, \"html\": {\"href\": \"https://bitbucket.org/guyzmo/\"}, \"followers\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo/followers\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/guyzmo/avatar/32/\"}, \"following\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo/following\"}, \"snippets\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo\"}}, \"created_on\": \"2008-09-20T15:08:53.695316+00:00\", \"location\": null, \"type\": \"user\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"321b3bdea810843db96c90951905a5e3\"",
          "X-Accepted-OAuth-Scopes": "account",
          "X-OAuth-Scopes": "snippet:write, snippet, repository:delete, repository:admin, pullrequest:write, repository, project:write, project, team, account",
          "X-Render-Time": "0.0354931354523",
          "X-Request-Count": "37",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/user"
      }
    },
    {
      "recorded_at": "2016-12-28T22:18:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOlF0WmpzZVFMaGE4NFBMZnRwaGJF",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/snippets/guyzmo/69"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"type\": \"error\", \"error\": {\"message\": \"Resource not found\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"8444fd24a9fa2d5097fdf9363f70d40d\"",
          "X-Accepted-OAuth-Scopes": "snippet",
          "X-OAuth-Scopes": "snippet:write, snippet, repository:delete, repository:admin, pullrequest:write, repository, project:write, project, team, account",
          "X-Render-Time": "0.034735918045",
          "X-Request-Count": "167",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 404,
          "message": "NOT FOUND"
        },
        "url": "https://api.bitbucket.org/2.0/snippets/guyzmo/69"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}