{
  "http_interactions": [
    {
      "recorded_at": "2017-08-06T19:04:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"login\":\"AmandaCameron\",\"id\":114638,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/114638?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/AmandaCameron\",\"html_url\":\"https://github.com/AmandaCameron\",\"followers_url\":\"https://api.github.com/users/AmandaCameron/followers\",\"following_url\":\"https://api.github.com/users/AmandaCameron/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/AmandaCameron/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/AmandaCameron/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/AmandaCameron/subscriptions\",\"organizations_url\":\"https://api.github.com/users/AmandaCameron/orgs\",\"repos_url\":\"https://api.github.com/users/AmandaCameron/repos\",\"events_url\":\"https://api.github.com/users/AmandaCameron/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/AmandaCameron/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"Amanda Cameron\",\"company\":null,\"blog\":\"http://amanda.darkdna.net\",\"location\":null,\"email\":null,\"hireable\":null,\"bio\":null,\"public_repos\":43,\"public_gists\":19,\"followers\":15,\"following\":0,\"created_at\":\"2009-08-12T16:15:59Z\",\"updated_at\":\"2017-07-20T03:24:22Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"7ae175c9ad28b1045b3179886c2040ac\"",
          "Last-Modified": "Thu, 20 Jul 2017 03:24:22 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "repo, delete_repo, gist",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4999",
          "X-RateLimit-Reset": "1502049836"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/user"
      }
    },
    {
      "recorded_at": "2017-08-06T19:04:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/git-services/foo-bar/github-testing"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "404 Not Found",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "repo, delete_repo, gist",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4998",
          "X-RateLimit-Reset": "1502049836"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://api.github.com/repos/git-services/foo-bar/github-testing"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}