{
  "http_interactions": [
    {
      "recorded_at": "2019-08-26T21:13:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"guyzmo\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/guyzmo\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"bio\":\": :(){ :|:\\u0026 };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"public_email\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"https://twitter.com/guyzmo\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":\"\",\"last_sign_in_at\":\"2019-08-19T16:34:20.318Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"last_activity_on\":\"2019-08-26\",\"email\":\"guyzmo+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":2,\"projects_limit\":100000,\"current_sign_in_at\":\"2019-08-26T12:05:47.884Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_profile\":false,\"shared_runners_minutes_limit\":2000,\"extra_shared_runners_minutes_limit\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"c277655375af222ec17621ae3125a5fd\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "2",
          "RateLimit-Remaining": "598",
          "RateLimit-Reset": "1566854062",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:14:22 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/user"
      }
    },
    {
      "recorded_at": "2019-08-26T21:13:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/groups?search=<GITLAB_NAMESPACE>"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":938543,\"web_url\":\"https://gitlab.com/groups/<GITLAB_NAMESPACE>\",\"name\":\"<GITLAB_NAMESPACE>\",\"path\":\"<GITLAB_NAMESPACE>\",\"description\":\"\",\"visibility\":\"public\",\"lfs_enabled\":true,\"avatar_url\":null,\"request_access_enabled\":true,\"full_name\":\"<GITLAB_NAMESPACE>\",\"full_path\":\"<GITLAB_NAMESPACE>\",\"parent_id\":null,\"ldap_cn\":null,\"ldap_access\":null}]"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"b808f34f76127c9de5593aaed1627c7c\"",
          "Link": "<https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=20&search=<GITLAB_NAMESPACE>&sort=asc&statistics=false&with_custom_attributes=false>; rel=\"first\", <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=20&search=<GITLAB_NAMESPACE>&sort=asc&statistics=false&with_custom_attributes=false>; rel=\"last\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "3",
          "RateLimit-Remaining": "597",
          "RateLimit-Reset": "1566854062",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:14:22 GMT",
          "X-Next-Page": "",
          "X-Page": "1",
          "X-Per-Page": "20",
          "X-Prev-Page": "",
          "X-Total": "1",
          "X-Total-Pages": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/groups?search=<GITLAB_NAMESPACE>"
      }
    },
    {
      "recorded_at": "2019-08-26T21:13:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"git-repo\", \"namespace_id\": 938543}"
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "POST",
        "uri": "https://gitlab.com/api/v4/projects"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"message\":{\"name\":[\"has already been taken\"],\"path\":[\"has already been taken\"],\"limit_reached\":[]}}"
        },
        "headers": {
          "Content-Type": "application/json",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "4",
          "RateLimit-Remaining": "596",
          "RateLimit-Reset": "1566854062",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:14:22 GMT"
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://gitlab.com/api/v4/projects"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}