{
  "http_interactions": [
    {
      "recorded_at": "2016-12-24T13:36:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"username\": \"<BITBUCKET_NAMESPACE>\", \"website\": \"http://i.got.nothing.to/blog\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/hooks\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"repositories\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"followers\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/followers\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}, \"following\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/following\"}, \"snippets\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>\"}}, \"created_on\": \"2008-09-20T15:08:53.695316+00:00\", \"location\": null, \"type\": \"user\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"321b3bdea810843db96c90951905a5e3\"",
          "X-Accepted-OAuth-Scopes": "account",
          "X-Render-Time": "0.0158369541168",
          "X-Request-Count": "649",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/user"
      }
    },
    {
      "recorded_at": "2016-12-24T13:36:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git_tutorial"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"scm\": \"git\", \"website\": null, \"has_wiki\": false, \"name\": \"git_tutorial\", \"links\": {\"watchers\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git_tutorial/watchers\"}, \"branches\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git_tutorial/refs/branches\"}, \"tags\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git_tutorial/refs/tags\"}, \"commits\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git_tutorial/commits\"}, \"clone\": [{\"href\": \"https://<BITBUCKET_NAMESPACE>@bitbucket.org/<BITBUCKET_NAMESPACE>/git_tutorial.git\", \"name\": \"https\"}, {\"href\": \"ssh://git@bitbucket.org/<BITBUCKET_NAMESPACE>/git_tutorial.git\", \"name\": \"ssh\"}], \"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git_tutorial\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/git_tutorial\"}, \"avatar\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/git_tutorial/avatar/32/\"}, \"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git_tutorial/hooks\"}, \"forks\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git_tutorial/forks\"}, \"downloads\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git_tutorial/downloads\"}, \"pullrequests\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git_tutorial/pullrequests\"}}, \"fork_policy\": \"allow_forks\", \"uuid\": \"{b8a4f423-7e18-4532-bc8a-633239d859e9}\", \"language\": \"java\", \"created_on\": \"2016-12-24T13:35:53.772616+00:00\", \"parent\": {\"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/abdo2015/git_tutorial\"}, \"html\": {\"href\": \"https://bitbucket.org/abdo2015/git_tutorial\"}, \"avatar\": {\"href\": \"https://bitbucket.org/abdo2015/git_tutorial/avatar/32/\"}}, \"type\": \"repository\", \"name\": \"git_tutorial\", \"full_name\": \"abdo2015/git_tutorial\", \"uuid\": \"{d9ca3bb4-9d50-4053-a486-7a147699a71a}\"}, \"full_name\": \"<BITBUCKET_NAMESPACE>/git_tutorial\", \"has_issues\": false, \"owner\": {\"username\": \"<BITBUCKET_NAMESPACE>\", \"display_name\": \"Guyzmo\", \"type\": \"user\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}}}, \"updated_on\": \"2016-12-24T13:35:53.817425+00:00\", \"size\": 66942, \"type\": \"repository\", \"slug\": \"git_tutorial\", \"is_private\": false, \"description\": \"\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"0e3afc256b3a6264e7eecc58873e4d81\"",
          "X-Accepted-OAuth-Scopes": "repository",
          "X-Render-Time": "0.0313699245453",
          "X-Request-Count": "389",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git_tutorial"
      }
    },
    {
      "recorded_at": "2016-12-24T13:36:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "DELETE",
        "uri": "https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git_tutorial"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": ""
        },
        "headers": {
          "Content-Type": "text/plain",
          "ETag": "\"d41d8cd98f00b204e9800998ecf8427e\"",
          "X-Accepted-OAuth-Scopes": "repository:delete",
          "X-Render-Time": "0.280435085297",
          "X-Request-Count": "277",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 204,
          "message": "NO CONTENT"
        },
        "url": "https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git_tutorial"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}