{
  "http_interactions": [
    {
      "recorded_at": "2017-05-03T22:10:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOlF0WmpzZVFMaGE4NFBMZnRwaGJF",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"username\": \"<BITBUCKET_NAMESPACE>\", \"website\": \"http://i.got.nothing.to/blog\", \"display_name\": \"Guyzmo\", \"account_id\": \"557058:8d7f5a89-3d0f-40ad-ad24-4727a2c1498b\", \"links\": {\"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/hooks\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"repositories\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"followers\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/followers\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}, \"following\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/following\"}, \"snippets\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>\"}}, \"created_on\": \"2008-09-20T15:08:53.695316+00:00\", \"is_staff\": false, \"location\": null, \"type\": \"user\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"85cedc52671c6a8a18bab9a454a65501\"",
          "X-Accepted-OAuth-Scopes": "account",
          "X-OAuth-Scopes": "snippet:write, snippet, repository:delete, repository:admin, pullrequest:write, repository, project:write, project, team, account",
          "X-Render-Time": "0.0368778705597",
          "X-Request-Count": "180",
          "X-Static-Version": "1c299938c525",
          "X-Version": "1c299938c525"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/user"
      }
    },
    {
      "recorded_at": "2017-05-03T22:10:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOlF0WmpzZVFMaGE4NFBMZnRwaGJF",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"scm\": \"git\", \"website\": \"\", \"has_wiki\": false, \"name\": \"python-bitbucket\", \"links\": {\"watchers\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/watchers\"}, \"branches\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/refs/branches\"}, \"tags\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/refs/tags\"}, \"commits\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/commits\"}, \"clone\": [{\"href\": \"https://<BITBUCKET_NAMESPACE>@bitbucket.org/atlassian/python-bitbucket.git\", \"name\": \"https\"}, {\"href\": \"ssh://git@bitbucket.org/atlassian/python-bitbucket.git\", \"name\": \"ssh\"}], \"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket\"}, \"html\": {\"href\": \"https://bitbucket.org/atlassian/python-bitbucket\"}, \"avatar\": {\"href\": \"https://bitbucket.org/atlassian/python-bitbucket/avatar/32/\"}, \"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/hooks\"}, \"forks\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/forks\"}, \"downloads\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/downloads\"}, \"pullrequests\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests\"}}, \"fork_policy\": \"allow_forks\", \"uuid\": \"{677bb9b7-473d-4934-96bd-5810f8a0d153}\", \"project\": {\"key\": \"PROJ\", \"type\": \"project\", \"uuid\": \"{8b56daff-dbc7-4cae-a7a3-1228c526906b}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/teams/atlassian/projects/PROJ\"}, \"html\": {\"href\": \"https://bitbucket.org/account/user/atlassian/projects/PROJ\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/user/atlassian/projects/PROJ/avatar/32\"}}, \"name\": \"Project: Atlassian\"}, \"language\": \"python\", \"created_on\": \"2015-02-26T02:55:41.278597+00:00\", \"mainbranch\": {\"type\": \"branch\", \"name\": \"master\"}, \"full_name\": \"atlassian/python-bitbucket\", \"has_issues\": true, \"owner\": {\"username\": \"atlassian\", \"display_name\": \"Atlassian\", \"type\": \"team\", \"uuid\": \"{02b941e3-cfaa-40f9-9a58-cec53e20bdc3}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/teams/atlassian\"}, \"html\": {\"href\": \"https://bitbucket.org/atlassian/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/atlassian/avatar/32/\"}}}, \"updated_on\": \"2017-04-29T22:39:48.130684+00:00\", \"size\": 5339970, \"type\": \"repository\", \"slug\": \"python-bitbucket\", \"is_private\": false, \"description\": \"A Python wrapper for the Bitbucket API.\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"cd955057426de57d3a32ae562d719ce5\"",
          "X-Accepted-OAuth-Scopes": "repository",
          "X-OAuth-Scopes": "snippet:write, snippet, repository:delete, repository:admin, pullrequest:write, repository, project:write, project, team, account",
          "X-Render-Time": "0.0502190589905",
          "X-Request-Count": "23",
          "X-Static-Version": "1c299938c525",
          "X-Version": "1c299938c525"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket"
      }
    },
    {
      "recorded_at": "2017-05-03T22:10:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOlF0WmpzZVFMaGE4NFBMZnRwaGJF",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/refs/branches"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"pagelen\": 10, \"values\": [{\"type\": \"branch\", \"name\": \"bug/35-url-name-collision\", \"links\": {\"commits\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/commits/bug/35-url-name-collision\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/refs/branches/bug/35-url-name-collision\"}, \"html\": {\"href\": \"https://bitbucket.org/atlassian/python-bitbucket/branch/bug/35-url-name-collision\"}}, \"target\": {\"hash\": \"0d84b1758b5620aab804727f042e46a74b1efb6d\", \"repository\": {\"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket\"}, \"html\": {\"href\": \"https://bitbucket.org/atlassian/python-bitbucket\"}, \"avatar\": {\"href\": \"https://bitbucket.org/atlassian/python-bitbucket/avatar/32/\"}}, \"type\": \"repository\", \"name\": \"python-bitbucket\", \"full_name\": \"atlassian/python-bitbucket\", \"uuid\": \"{677bb9b7-473d-4934-96bd-5810f8a0d153}\"}, \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/commit/0d84b1758b5620aab804727f042e46a74b1efb6d\"}, \"comments\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/commit/0d84b1758b5620aab804727f042e46a74b1efb6d/comments\"}, \"patch\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/patch/0d84b1758b5620aab804727f042e46a74b1efb6d\"}, \"html\": {\"href\": \"https://bitbucket.org/atlassian/python-bitbucket/commits/0d84b1758b5620aab804727f042e46a74b1efb6d\"}, \"diff\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/diff/0d84b1758b5620aab804727f042e46a74b1efb6d\"}, \"approve\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/commit/0d84b1758b5620aab804727f042e46a74b1efb6d/approve\"}, \"statuses\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/commit/0d84b1758b5620aab804727f042e46a74b1efb6d/statuses\"}}, \"author\": {\"raw\": \"Ian Buchanan <ibuchanan@atlassian.com>\", \"type\": \"author\", \"user\": {\"username\": \"ian_buchanan\", \"display_name\": \"Ian Buchanan\", \"type\": \"user\", \"uuid\": \"{27e49bd2-9ecb-4a41-8387-033c972d1399}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/ian_buchanan\"}, \"html\": {\"href\": \"https://bitbucket.org/ian_buchanan/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/ian_buchanan/avatar/32/\"}}}}, \"parents\": [{\"hash\": \"f3e27b26f37af6ea5fbabf9d4c3847f27bb8a406\", \"type\": \"commit\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/commit/f3e27b26f37af6ea5fbabf9d4c3847f27bb8a406\"}, \"html\": {\"href\": \"https://bitbucket.org/atlassian/python-bitbucket/commits/f3e27b26f37af6ea5fbabf9d4c3847f27bb8a406\"}}}], \"date\": \"2016-02-29T23:07:11+00:00\", \"message\": \"fixed `api` name collision\\n\\nChanged name in all `create` locations.\\n\", \"type\": \"commit\"}}, {\"type\": \"branch\", \"name\": \"bugfix/setup-without-git\", \"links\": {\"commits\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/commits/bugfix/setup-without-git\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/refs/branches/bugfix/setup-without-git\"}, \"html\[...]
    {
      "recorded_at": "2017-05-03T22:10:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOlF0WmpzZVFMaGE4NFBMZnRwaGJF",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/2"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"merge_commit\": {\"hash\": \"3f4db57adcb4\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/commit/3f4db57adcb4\"}}}, \"description\": \"Attempt to fix #9. On Py2 it works.\", \"links\": {\"decline\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/2/decline\"}, \"commits\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/2/commits\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/2\"}, \"comments\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/2/comments\"}, \"merge\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/2/merge\"}, \"html\": {\"href\": \"https://bitbucket.org/atlassian/python-bitbucket/pull-requests/2\"}, \"activity\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/2/activity\"}, \"diff\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/2/diff\"}, \"approve\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/2/approve\"}, \"statuses\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/2/statuses\"}}, \"title\": \"Attempt to fix bitbucket_create crash again, this time py3k compatible\", \"close_source_branch\": true, \"reviewers\": [], \"destination\": {\"commit\": {\"hash\": \"7ef9006715ae\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/commit/7ef9006715ae\"}}}, \"repository\": {\"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket\"}, \"html\": {\"href\": \"https://bitbucket.org/atlassian/python-bitbucket\"}, \"avatar\": {\"href\": \"https://bitbucket.org/atlassian/python-bitbucket/avatar/32/\"}}, \"type\": \"repository\", \"name\": \"python-bitbucket\", \"full_name\": \"atlassian/python-bitbucket\", \"uuid\": \"{677bb9b7-473d-4934-96bd-5810f8a0d153}\"}, \"branch\": {\"name\": \"master\"}}, \"state\": \"MERGED\", \"closed_by\": {\"username\": \"ian_buchanan\", \"display_name\": \"Ian Buchanan\", \"type\": \"user\", \"uuid\": \"{27e49bd2-9ecb-4a41-8387-033c972d1399}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/ian_buchanan\"}, \"html\": {\"href\": \"https://bitbucket.org/ian_buchanan/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/ian_buchanan/avatar/32/\"}}}, \"source\": {\"commit\": {\"hash\": \"0368092708b6\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/Mekk/python-bitbucket/commit/0368092708b6\"}}}, \"repository\": {\"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/Mekk/python-bitbucket\"}, \"html\": {\"href\": \"https://bitbucket.org/Mekk/python-bitbucket\"}, \"avatar\": {\"href\": \"https://bitbucket.org/Mekk/python-bitbucket/avatar/32/\"}}, \"type\": \"repository\", \"name\": \"python-bitbucket\", \"full_name\": \"Mekk/python-bitbucket\", \"uuid\": \"{50f0f2c8-6ea2-4574-b5e5-5bd9c097f1fd}\"}, \"branch\": {\"name\": \"repo_create_bugfix_again\"}}, \"comment_count\": 0, \"author\": {\"username\": \"Mekk\", \"display_name\": \"Marcin Kasperski\", \"type\": \"user\", \"uuid\": \"{d94fe134-1231-487d-9854-07b78282c3b8}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/Mekk\"}, \"html\": {\"href\": \"https://bitbucket.org/Mekk/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/Mekk/avatar/32/\"}}}, \"created_on\": \"2015-12-01T16:23:06.605945+00:00\", \"participants\": [{\"role\": \"PARTICIPANT\", \"type\": \"participant\", \"user\": {\"username\": \"ian_buchanan\", \"display_name\": \"Ian Buchanan\", \"type\": \"user\", \"uuid\": \"{27e49bd2-9ecb-4a41-8387-033c972d1399}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/ian_buchanan\"}, \"html\": {\"href\": \"https://bitbucket.org/ian_buchanan/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/ian_buchanan/avatar/32/\"}}}, \"approved\": true}], \"reason\": \"\", \"updated_on\": \"2015-12-01T16:55:06.104427+00:00\", \"type\": \"pullrequest\", \"id\": 2, \"task_count\": 0}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"583375e7669b1bf81f5e2e723977cba0\"",
          "X-Accepted-OAuth-Scopes": "pullrequest",
          "X-OAuth-Scopes": "snippet:write, snippet, repository:delete, repository:admin, pullrequest:write, repository, project:write, project, team, account",
          "X-Render-Time": "0.086483001709",
          "X-Request-Count": "615",
          "X-Static-Version": "1c299938c525",
          "X-Version": "1c299938c525"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/2"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}