{
  "http_interactions": [
    {
      "recorded_at": "2016-03-28T02:08:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"name\":\"Guyzmo\",\"username\":\"guyzmo\",\"id\":459552,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/u/guyzmo\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"is_admin\":false,\"bio\":\"\\\\_o\\u003c\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"\",\"website_url\":\"\",\"last_sign_in_at\":\"2016-03-21T13:48:05.259Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"email\":\"guyzmo+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":1,\"projects_limit\":100000,\"current_sign_in_at\":\"2016-03-27T17:56:15.904Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_token\":\"<PRIVATE_KEY_GITLAB>\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"e19490551a45fe235fbc1bf42e7ac4b6\"",
          "Status": "200 OK"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/user"
      }
    },
    {
      "recorded_at": "2016-03-28T02:08:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/guyzmo%2Ffoobar"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1005922,\"description\":null,\"default_branch\":null,\"tag_list\":[],\"public\":false,\"archived\":false,\"visibility_level\":0,\"ssh_url_to_repo\":\"git@gitlab.com:guyzmo/foobar.git\",\"http_url_to_repo\":\"https://gitlab.com/guyzmo/foobar.git\",\"web_url\":\"https://gitlab.com/guyzmo/foobar\",\"owner\":{\"name\":\"Guyzmo\",\"username\":\"guyzmo\",\"id\":459552,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/u/guyzmo\"},\"name\":\"foobar\",\"name_with_namespace\":\"Guyzmo / foobar\",\"path\":\"foobar\",\"path_with_namespace\":\"guyzmo/foobar\",\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"builds_enabled\":true,\"snippets_enabled\":false,\"created_at\":\"2016-03-28T02:08:25.166Z\",\"last_activity_at\":\"2016-03-28T02:08:27.779Z\",\"shared_runners_enabled\":true,\"creator_id\":459552,\"namespace\":{\"id\":540439,\"name\":\"guyzmo\",\"path\":\"guyzmo\",\"owner_id\":459552,\"created_at\":\"2016-03-21T12:53:00.139Z\",\"updated_at\":\"2016-03-21T12:53:00.139Z\",\"description\":\"\",\"avatar\":null,\"membership_lock\":false,\"share_with_group_lock\":false,\"visibility_level\":20,\"last_ldap_sync_at\":null},\"avatar_url\":null,\"star_count\":0,\"forks_count\":0,\"open_issues_count\":0,\"runners_token\":\"U5eNGEjbjgVs5Kzs5kBP\",\"public_builds\":true,\"permissions\":{\"project_access\":{\"access_level\":40,\"notification_level\":3},\"group_access\":null}}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"f2da978295eb8e12dc7721bdb84b0d23\"",
          "Status": "200 OK"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/projects/guyzmo%2Ffoobar"
      }
    },
    {
      "recorded_at": "2016-03-28T02:08:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "DELETE",
        "uri": "https://gitlab.com/api/v3/projects/1005922?name=foobar&forks=%3Cgitlab.objects.ProjectForkManager+object+at+0x7f6d91caf9b0%3E&visibility_level=0&path=foobar&keys=%3Cgitlab.objects.ProjectKeyManager+object+at+0x7f6d91cafa20[...]
