{
  "http_interactions": [
    {
      "recorded_at": "2016-12-24T15:14:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"username\": \"<BITBUCKET_NAMESPACE>\", \"website\": \"http://i.got.nothing.to/blog\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/hooks\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"repositories\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"followers\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/followers\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}, \"following\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/following\"}, \"snippets\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>\"}}, \"created_on\": \"2008-09-20T15:08:53.695316+00:00\", \"location\": null, \"type\": \"user\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"321b3bdea810843db96c90951905a5e3\"",
          "X-Accepted-OAuth-Scopes": "account",
          "X-Render-Time": "0.0187499523163",
          "X-Request-Count": "537",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/user"
      }
    },
    {
      "recorded_at": "2016-12-24T15:14:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests?state=open"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"pagelen\": 10, \"values\": [{\"description\": \"- made all strings unicode per default (no more `u''`)\\r\\n- removed custom enum class, using `enum.Enum` (or `enum34` from py27)\\r\\n- removed all `super(self.__class__)` references\\r\\n- loosen `requirements-dev.txt` (latest httpretty works with py35 \u263a)\\r\\n- use of new style `open()` in test fixtures\\r\\n\\r\\nI believe this is likely to break support for py26. But who cares about py26 anymore? \ud83d\ude00\", \"links\": {\"decline\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/6/decline\"}, \"commits\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/6/commits\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/6\"}, \"comments\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/6/comments\"}, \"merge\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/6/merge\"}, \"html\": {\"href\": \"https://bitbucket.org/atlassian/python-bitbucket/pull-requests/6\"}, \"activity\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/6/activity\"}, \"diff\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/6/diff\"}, \"approve\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/6/approve\"}, \"statuses\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/6/statuses\"}}, \"title\": \"\ud83d\udc84 Updated code style to be closer to python3 style\", \"close_source_branch\": false, \"merge_commit\": {\"hash\": \"f433b92c8b2f\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/commit/f433b92c8b2f\"}}}, \"destination\": {\"commit\": {\"hash\": \"6bf667e9a302\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/commit/6bf667e9a302\"}}}, \"repository\": {\"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket\"}, \"html\": {\"href\": \"https://bitbucket.org/atlassian/python-bitbucket\"}, \"avatar\": {\"href\": \"https://bitbucket.org/atlassian/python-bitbucket/avatar/32/\"}}, \"type\": \"repository\", \"name\": \"python-bitbucket\", \"full_name\": \"atlassian/python-bitbucket\", \"uuid\": \"{677bb9b7-473d-4934-96bd-5810f8a0d153}\"}, \"branch\": {\"name\": \"master\"}}, \"state\": \"MERGED\", \"closed_by\": {\"username\": \"ian_buchanan\", \"display_name\": \"Ian Buchanan\", \"type\": \"user\", \"uuid\": \"{27e49bd2-9ecb-4a41-8387-033c972d1399}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/ian_buchanan\"}, \"html\": {\"href\": \"https://bitbucket.org/ian_buchanan/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/ian_buchanan/avatar/32/\"}}}, \"source\": {\"commit\": null, \"repository\": null, \"branch\": {\"name\": \"fix/python_style\"}}, \"comment_count\": 1, \"author\": {\"username\": \"<BITBUCKET_NAMESPACE>\", \"display_name\": \"Guyzmo\", \"type\": \"user\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}}}, \"created_on\": \"2016-12-01T01:41:07.890417+00:00\", \"reason\": \"\", \"updated_on\": \"2016-12-02T21:39:43.715546+00:00\", \"type\": \"pullrequest\", \"id\": 6, \"task_count\": 0}, {\"description\": \"* uses v1 API\\r\\n* Added tests\\r\\n* fixes #19\\r\\n\\r\\nSigned-off-by: Guyzmo <<BITBUCKET_NAMESPACE>+github@m0g.net>\", \"links\": {\"decline\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/5/decline\"}, \"commits\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket/pullrequests/5/commits\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/atlassian/python-bitbucket[...]
