{
  "http_interactions": [
    {
      "recorded_at": "2019-08-26T21:04:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"guyzmo\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/guyzmo\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"bio\":\": :(){ :|:\\u0026 };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"public_email\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"https://twitter.com/guyzmo\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":\"\",\"last_sign_in_at\":\"2019-08-19T16:34:20.318Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"last_activity_on\":\"2019-08-26\",\"email\":\"guyzmo+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":2,\"projects_limit\":100000,\"current_sign_in_at\":\"2019-08-26T12:05:47.884Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_profile\":false,\"shared_runners_minutes_limit\":2000,\"extra_shared_runners_minutes_limit\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"c277655375af222ec17621ae3125a5fd\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "1",
          "RateLimit-Remaining": "599",
          "RateLimit-Reset": "1566853546",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:05:46 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/user"
      }
    },
    {
      "recorded_at": "2019-08-26T21:04:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/groups?search=<GITLAB_NAMESPACE>"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":938543,\"web_url\":\"https://gitlab.com/groups/<GITLAB_NAMESPACE>\",\"name\":\"<GITLAB_NAMESPACE>\",\"path\":\"<GITLAB_NAMESPACE>\",\"description\":\"\",\"visibility\":\"public\",\"lfs_enabled\":true,\"avatar_url\":null,\"request_access_enabled\":true,\"full_name\":\"<GITLAB_NAMESPACE>\",\"full_path\":\"<GITLAB_NAMESPACE>\",\"parent_id\":null,\"ldap_cn\":null,\"ldap_access\":null}]"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"b808f34f76127c9de5593aaed1627c7c\"",
          "Link": "<https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=20&search=<GITLAB_NAMESPACE>&sort=asc&statistics=false&with_custom_attributes=false>; rel=\"first\", <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=20&search=<GITLAB_NAMESPACE>&sort=asc&statistics=false&with_custom_attributes=false>; rel=\"last\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "2",
          "RateLimit-Remaining": "598",
          "RateLimit-Reset": "1566853547",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:05:47 GMT",
          "X-Next-Page": "",
          "X-Page": "1",
          "X-Per-Page": "20",
          "X-Prev-Page": "",
          "X-Total": "1",
          "X-Total-Pages": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/groups?search=<GITLAB_NAMESPACE>"
      }
    },
    {
      "recorded_at": "2019-08-26T21:04:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"foobar\", \"namespace_id\": 938543}"
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "POST",
        "uri": "https://gitlab.com/api/v4/projects"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":13998441,\"description\":null,\"name\":\"foobar\",\"name_with_namespace\":\"<GITLAB_NAMESPACE> / foobar\",\"path\":\"foobar\",\"path_with_namespace\":\"<GITLAB_NAMESPACE>/foobar\",\"created_at\":\"2019-08-26T21:04:47.277Z\",\"default_branch\":null,\"tag_list\":[],\"ssh_url_to_repo\":\"git@gitlab.com:<GITLAB_NAMESPACE>/foobar.git\",\"http_url_to_repo\":\"https://gitlab.com/<GITLAB_NAMESPACE>/foobar.git\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>/foobar\",\"readme_url\":null,\"avatar_url\":null,\"star_count\":0,\"forks_count\":0,\"last_activity_at\":\"2019-08-26T21:04:47.277Z\",\"namespace\":{\"id\":938543,\"name\":\"<GITLAB_NAMESPACE>\",\"path\":\"<GITLAB_NAMESPACE>\",\"kind\":\"group\",\"full_path\":\"<GITLAB_NAMESPACE>\",\"parent_id\":null,\"avatar_url\":null,\"web_url\":\"https://gitlab.com/groups/<GITLAB_NAMESPACE>\"},\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/13998441\",\"issues\":\"https://gitlab.com/api/v4/projects/13998441/issues\",\"merge_requests\":\"https://gitlab.com/api/v4/projects/13998441/merge_requests\",\"repo_branches\":\"https://gitlab.com/api/v4/projects/13998441/repository/branches\",\"labels\":\"https://gitlab.com/api/v4/projects/13998441/labels\",\"events\":\"https://gitlab.com/api/v4/projects/13998441/events\",\"members\":\"https://gitlab.com/api/v4/projects/13998441/members\"},\"empty_repo\":true,\"archived\":false,\"visibility\":\"private\",\"resolve_outdated_diff_discussions\":false,\"container_registry_enabled\":true,\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"jobs_enabled\":true,\"snippets_enabled\":true,\"issues_access_level\":\"enabled\",\"repository_access_level\":\"enabled\",\"merge_requests_access_level\":\"enabled\",\"wiki_access_level\":\"enabled\",\"builds_access_level\":\"enabled\",\"snippets_access_level\":\"enabled\",\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":459552,\"import_status\":\"none\",\"import_error\":null,\"open_issues_count\":0,\"runners_token\":\"xbZLPSpBeZskvvr78AwX\",\"ci_default_git_depth\":50,\"public_jobs\":true,\"build_git_strategy\":\"fetch\",\"build_timeout\":3600,\"auto_cancel_pending_pipelines\":\"enabled\",\"build_coverage_regex\":null,\"ci_config_path\":null,\"shared_with_groups\":[],\"only_allow_merge_if_pipeline_succeeds\":false,\"request_access_enabled\":false,\"only_allow_merge_if_all_discussions_are_resolved\":false,\"printing_merge_request_link_enabled\":true,\"merge_method\":\"merge\",\"auto_devops_enabled\":false,\"auto_devops_deploy_strategy\":\"continuous\",\"mirror\":false,\"external_authorization_classification_label\":\"\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"636626faa0df011dab13e4ac6a346ad6\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "3",
          "RateLimit-Remaining": "597",
          "RateLimit-Reset": "1566853547",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:05:47 GMT"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://gitlab.com/api/v4/projects"
      }
    },
    {
      "recorded_at": "2019-08-26T21:04:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/projects/<GITLAB_NAMESPACE>%2Ffoobar"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":13998441,\"[...]
