{
  "http_interactions": [
    {
      "recorded_at": "2017-12-16T19:27:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic UGhhbnRvbS00MjovRk45NTI2TE84MkxYTXJucWJUNWE3Y25wSkY4b2hVTVFRQ1l6TkgzTVE=",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://review.gerrithub.io/a/config/server/version"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ")]}'\n\"2.13.6-3044-g7e9c06d\"\n"
        },
        "headers": {
          "Content-Disposition": "attachment",
          "Content-Type": "application/json;charset=utf-8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://review.gerrithub.io/a/config/server/version"
      }
    },
    {
      "recorded_at": "2017-12-16T19:27:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic UGhhbnRvbS00MjovRk45NTI2TE84MkxYTXJucWJUNWE3Y25wSkY4b2hVTVFRQ1l6TkgzTVE=",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://review.gerrithub.io/a/changes/?q=project:TestUser/DemoRepository%20status:open"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ")]}'\n[{\"id\":\"TestUser%2FDemoRepository~master~Ie7a5fef8f15e8ce0d0633a36730119c86dde53a8\",\"project\":\"TestUser/DemoRepository\",\"branch\":\"master\",\"hashtags\":[],\"change_id\":\"Ie7a5fef8f15e8ce0d0633a36730119c86dde53a8\",\"subject\":\"Commit-24\",\"status\":\"NEW\",\"created\":\"2017-12-16 18:28:19.363000000\",\"updated\":\"2017-12-16 18:28:19.363000000\",\"submit_type\":\"MERGE_IF_NECESSARY\",\"mergeable\":true,\"insertions\":1,\"deletions\":0,\"unresolved_comment_count\":0,\"_number\":392074,\"owner\":{\"_account_id\":1013076}},{\"id\":\"TestUser%2FDemoRepository~master~Ia69043c886bfec332183d59f41f3ae5034f63e9f\",\"project\":\"TestUser/DemoRepository\",\"branch\":\"master\",\"hashtags\":[],\"change_id\":\"Ia69043c886bfec332183d59f41f3ae5034f63e9f\",\"subject\":\"Commit-23\",\"status\":\"NEW\",\"created\":\"2017-12-16 18:28:19.363000000\",\"updated\":\"2017-12-16 18:28:19.363000000\",\"submit_type\":\"MERGE_IF_NECESSARY\",\"mergeable\":true,\"insertions\":1,\"deletions\":0,\"unresolved_comment_count\":0,\"_num[...]
