{
  "http_interactions": [
    {
      "recorded_at": "2017-05-03T23:17:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOlF0WmpzZVFMaGE4NFBMZnRwaGJF",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"username\": \"guyzmo\", \"website\": \"http://i.got.nothing.to/blog\", \"display_name\": \"Guyzmo\", \"account_id\": \"557058:8d7f5a89-3d0f-40ad-ad24-4727a2c1498b\", \"links\": {\"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo/hooks\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo\"}, \"repositories\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/guyzmo\"}, \"html\": {\"href\": \"https://bitbucket.org/guyzmo/\"}, \"followers\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo/followers\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/guyzmo/avatar/32/\"}, \"following\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo/following\"}, \"snippets\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo\"}}, \"created_on\": \"2008-09-20T15:08:53.695316+00:00\", \"is_staff\": false, \"location\": null, \"type\": \"user\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"85cedc52671c6a8a18bab9a454a65501\"",
          "X-Accepted-OAuth-Scopes": "account",
          "X-OAuth-Scopes": "snippet:write, snippet, repository:delete, repository:admin, pullrequest:write, repository, project:write, project, team, account",
          "X-Render-Time": "0.0430748462677",
          "X-Request-Count": "340",
          "X-Static-Version": "1c299938c525",
          "X-Version": "1c299938c525"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/user"
      }
    },
    {
      "recorded_at": "2017-05-03T23:17:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOlF0WmpzZVFMaGE4NFBMZnRwaGJF",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/repositories/guyzmo/git-repo"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"scm\": \"git\", \"website\": \"\", \"has_wiki\": false, \"name\": \"git-repo\", \"links\": {\"watchers\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/guyzmo/git-repo/watchers\"}, \"branches\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/guyzmo/git-repo/refs/branches\"}, \"tags\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/guyzmo/git-repo/refs/tags\"}, \"commits\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/guyzmo/git-repo/commits\"}, \"clone\": [{\"href\": \"https://guyzmo@bitbucket.org/guyzmo/git-repo.git\", \"name\": \"https\"}, {\"href\": \"ssh://git@bitbucket.org/guyzmo/git-repo.git\", \"name\": \"ssh\"}], \"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/guyzmo/git-repo\"}, \"html\": {\"href\": \"https://bitbucket.org/guyzmo/git-repo\"}, \"avatar\": {\"href\": \"https://bitbucket.org/guyzmo/git-repo/avatar/32/\"}, \"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/guyzmo/git-repo/hooks\"}, \"forks\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/guyzmo/git-repo/forks\"}, \"downloads\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/guyzmo/git-repo/downloads\"}, \"pullrequests\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/guyzmo/git-repo/pullrequests\"}}, \"fork_policy\": \"allow_forks\", \"uuid\": \"{def9ba25-9853-43a5-ae92-bf8ad89b38b7}\", \"language\": \"python\", \"created_on\": \"2016-03-21T19:39:20.064112+00:00\", \"mainbranch\": {\"type\": \"branch\", \"name\": \"master\"}, \"full_name\": \"guyzmo/git-repo\", \"has_issues\": false, \"owner\": {\"username\": \"guyzmo\", \"display_name\": \"Guyzmo\", \"type\": \"user\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/guyzmo\"}, \"html\": {\"href\": \"https://bitbucket.org/guyzmo/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/guyzmo/avatar/32/\"}}}, \"updated_on\": \"2017-05-03T22:19:24.460574+00:00\", \"size\": 2521128, \"type\": \"repository\", \"slug\": \"git-repo\", \"is_private\": false, \"description\": \" Tool to manage multiple repository services from the git CLI\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"12765c6a97df167d657de4f16eae7098\"",
          "X-Accepted-OAuth-Scopes": "repository",
          "X-OAuth-Scopes": "snippet:write, snippet, repository:delete, repository:admin, pullrequest:write, repository, project:write, project, team, account",
          "X-Render-Time": "0.0391199588776",
          "X-Request-Count": "448",
          "X-Static-Version": "1c299938c525",
          "X-Version": "1c299938c525"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/repositories/guyzmo/git-repo"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}