{
  "http_interactions": [
    {
      "recorded_at": "2016-03-30T14:13:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"name\":\"git-repo-test\",\"username\":\"git-repo-test\",\"id\":470686,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/59014873897ec9bf64471e4ddf61c8d5?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/u/git-repo-test\",\"created_at\":\"2016-03-30T13:15:50.649Z\",\"is_admin\":false,\"bio\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"\",\"website_url\":\"\",\"last_sign_in_at\":\"2016-03-30T13:19:50.252Z\",\"confirmed_at\":\"2016-03-30T13:18:12.005Z\",\"email\":\"guyzmo+git-repo+projects+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":1,\"projects_limit\":100000,\"current_sign_in_at\":\"2016-03-30T13:19:50.252Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_token\":\"<PRIVATE_KEY_GITLAB>\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"76175f0e11cbbd54fc8475d86a9ab425\"",
          "Status": "200 OK"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/user"
      }
    },
    {
      "recorded_at": "2016-03-30T14:13:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"git-repo\"}"
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "POST",
        "uri": "https://gitlab.com/api/v3/projects"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"message\":{\"name\":[\"has already been taken\"],\"path\":[\"has already been taken\"],\"limit_reached\":[]}}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Status": "400 Bad Request"
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://gitlab.com/api/v3/projects"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}