{
  "http_interactions": [
    {
      "recorded_at": "2017-05-03T22:42:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"name\":\"Guyzmo\",\"username\":\"guyzmo\",\"id\":459552,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80&d=identicon\",\"web_url\":\"https://gitlab.com/guyzmo\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"is_admin\":false,\"bio\":\": :(){ :|:& };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":null,\"last_sign_in_at\":\"2017-03-12T11:03:33.268Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"last_activity_on\":\"2017-05-02\",\"email\":\"guyzmo+gitlab@m0g.net\",\"color_scheme_id\":4,\"projects_limit\":100000,\"current_sign_in_at\":\"2017-04-30T22:49:17.586Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"e7dea164670ef2af8a62249a71b010c6\""
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/user"
      }
    },
    {
      "recorded_at": "2017-05-03T22:42:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/guyzmo%2Fgit-repo"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1016797,\"description\":\" Git-Repo: CLI utility to manage git services from your workspace\",\"default_branch\":\"master\",\"tag_list\":[\"git\",\"cli\",\"tool\",\"python\"],\"public\":true,\"archived\":false,\"visibility_level\":20,\"ssh_url_to_repo\":\"git@gitlab.com:guyzmo/git-repo.git\",\"http_url_to_repo\":\"https://gitlab.com/guyzmo/git-repo.git\",\"web_url\":\"https://gitlab.com/guyzmo/git-repo\",\"owner\":{\"name\":\"Guyzmo\",\"username\":\"guyzmo\",\"id\":459552,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80&d=identicon\",\"web_url\":\"https://gitlab.com/guyzmo\"},\"name\":\"git-repo\",\"name_with_namespace\":\"Guyzmo / git-repo\",\"path\":\"git-repo\",\"path_with_namespace\":\"guyzmo/git-repo\",\"container_registry_enabled\":false,\"issues_enabled\":false,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"builds_enabled\":true,\"snippets_enabled\":true,\"created_at\":\"2016-03-30T22:33:37.575Z\",\"last_activity_at\":\"2017-01-19T13:32:35.365Z\",\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":459552,\"namespace\":{\"id\":540439,\"name\":\"guyzmo\",\"path\":\"guyzmo\",\"kind\":\"user\",\"full_path\":\"guyzmo\"},\"avatar_url\":null,\"star_count\":12,\"forks_count\":2,\"runners_token\":\"GwzKBWq_sEi37kYbZxzs\",\"public_builds\":true,\"shared_with_groups\":[],\"only_allow_merge_if_build_succeeds\":false,\"request_access_enabled\":true,\"only_allow_merge_if_all_discussions_are_resolved\":null,\"approvals_before_merge\":0,\"permissions\":{\"project_access\":{\"access_level\":40,\"notification_level\":3},\"group_access\":null}}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"7615bcdec15156d911d01c5dd0e1105d\""
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/projects/guyzmo%2Fgit-repo"
      }
    },
    {
      "recorded_at": "2017-05-04T10:32:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/1016797/repository/tree"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":\"996e370ca098a6f8ad4de7f290337be3d2872847\",\"name\":\"git_repo\",\"type\":\"tree\",\"path\":\"git_repo\",\"mode\":\"040000\"},{\"id\":\"14b7a932a44744ef896569fa61eff6c765cfb24b\",\"name\":\"tests\",\"type\":\"tree\",\"path\":\"tests\",\"mode\":\"040000\"},{\"id\":\"51ceaea89e237f5886f409bcb078d6dbe0bcbb23\",\"name\":\".editorconfig\",\"type\":\"blob\",\"path\":\".editorconfig\",\"mode\":\"100644\"},{\"id\":\"7a5782d8822078d2230887e3359dd48452c6a3de\",\"name\":\".gitignore\",\"type\":\"blob\",\"path\":\".gitignore\",\"mode\":\"100644\"},{\"id\":\"d0a4e8237e65ef257110a6c6ec9274e88f993fa6\",\"name\":\".gitlab-[...]
