{
  "http_interactions": [
    {
      "recorded_at": "2016-12-24T14:06:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"username\": \"<BITBUCKET_NAMESPACE>\", \"website\": \"http://i.got.nothing.to/blog\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/hooks\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"repositories\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"followers\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/followers\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}, \"following\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/following\"}, \"snippets\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>\"}}, \"created_on\": \"2008-09-20T15:08:53.695316+00:00\", \"location\": null, \"type\": \"user\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"321b3bdea810843db96c90951905a5e3\"",
          "X-Accepted-OAuth-Scopes": "account",
          "X-Render-Time": "0.0161828994751",
          "X-Request-Count": "164",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/user"
      }
    },
    {
      "recorded_at": "2016-12-24T14:06:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--442c9b049b6b4fa6b298b481675c17b8\r\nContent-Disposition: form-data; name=\"random-fortune-1.txt\"; filename=\"random-fortune-1.txt\"\r\n\r\nYour best consolation is the hope that the things you failed to get weren't\nreally worth having.\n\r\n--442c9b049b6b4fa6b298b481675c17b8--\r\n"
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "Content-Type": "multipart/form-data; boundary=442c9b049b6b4fa6b298b481675c17b8",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "POST",
        "uri": "https://api.bitbucket.org/2.0/snippets"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"scm\": \"git\", \"files\": {}, \"links\": {\"watchers\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/z498z/watchers\"}, \"commits\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/z498z/commits\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/z498z\"}, \"comments\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/z498z/comments\"}, \"patch\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/z498z/05273e773659c67ac0871565bcaf1dedebb1065b/patch\"}, \"html\": {\"href\": \"https://bitbucket.org/snippets/<BITBUCKET_NAMESPACE>/z498z\"}, \"diff\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/z498z/05273e773659c67ac0871565bcaf1dedebb1065b/diff\"}, \"clone\": [{\"href\": \"https://<BITBUCKET_NAMESPACE>@bitbucket.org/snippets/<BITBUCKET_NAMESPACE>/z498z/untitled-snippet.git\", \"name\": \"https\"}, {\"href\": \"ssh://git@bitbucket.org/snippets/<BITBUCKET_NAMESPACE>/z498z/untitled-snippet.git\", \"name\": \"ssh\"}]}, \"creator\": {\"username\": \"<BITBUCKET_NAMESPACE>\", \"type\": \"user\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}}}, \"title\": \"\", \"created_on\": \"2016-12-24T14:06:53.639898+00:00\", \"owner\": {\"username\": \"<BITBUCKET_NAMESPACE>\", \"type\": \"user\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}}}, \"updated_on\": \"2016-12-24T14:06:53.639917+00:00\", \"type\": \"snippet\", \"id\": \"z498z\", \"is_private\": false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"b0a46cd023eb6b7bae6a42c18a09cec6\"",
          "Location": "https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/z498z",
          "X-Accepted-OAuth-Scopes": "snippet:write",
          "X-Render-Time": "0.400623083115",
          "X-Request-Count": "239",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 201,
          "message": "CREATED"
        },
        "url": "https://api.bitbucket.org/2.0/snippets"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}