{
  "http_interactions": [
    {
      "recorded_at": "2016-10-16T00:15:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"login\":\"<GITLAB_NAMESPACE>\",\"id\":254441,\"avatar_url\":\"https://avatars.githubusercontent.com/u/254441?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<GITLAB_NAMESPACE>\",\"html_url\":\"https://github.com/<GITLAB_NAMESPACE>\",\"followers_url\":\"https://api.github.com/users/<GITLAB_NAMESPACE>/followers\",\"following_url\":\"https://api.github.com/users/<GITLAB_NAMESPACE>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITLAB_NAMESPACE>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITLAB_NAMESPACE>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITLAB_NAMESPACE>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITLAB_NAMESPACE>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITLAB_NAMESPACE>/repos\",\"events_url\":\"https://api.github.com/users/<GITLAB_NAMESPACE>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITLAB_NAMESPACE>/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"<GITLAB_NAMESPACE>\",\"company\":null,\"blog\":\"http://<GITLAB_NAMESPACE>.got.nothing.to/blog/\",\"location\":\"Paris\",\"email\":null,\"hireable\":true,\"bio\":null,\"public_repos\":87,\"public_gists\":17,\"followers\":54,\"following\":15,\"created_at\":\"2010-04-27T14:04:09Z\",\"updated_at\":\"2016-09-03T19:19:47Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"552dda7fe01396d75e16d9003f4fd8d7\"",
          "Last-Modified": "Sat, 03 Sep 2016 19:19:47 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "repo, delete_repo, gist",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4984",
          "X-RateLimit-Reset": "1476580399"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/user"
      }
    },
    {
      "recorded_at": "2016-10-16T00:15:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/orgs/test-git-repo"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"login\":\"test-git-repo\",\"id\":22862172,\"url\":\"https://api.github.com/orgs/test-git-repo\",\"repos_url\":\"https://api.github.com/orgs/test-git-repo/repos\",\"events_url\":\"https://api.github.com/orgs/test-git-repo/events\",\"hooks_url\":\"https://api.github.com/orgs/test-git-repo/hooks\",\"issues_url\":\"https://api.github.com/orgs/test-git-repo/issues\",\"members_url\":\"https://api.github.com/orgs/test-git-repo/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/test-git-repo/public_members{/member}\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/22862172?v=3\",\"description\":null,\"public_repos\":2,\"public_gists\":0,\"followers\":0,\"following\":0,\"html_url\":\"https://github.com/test-git-repo\",\"created_at\":\"2016-10-16T00:09:22Z\",\"updated_at\":\"2016-10-16T00:09:22Z\",\"type\":\"Organization\",\"total_private_repos\":0,\"owned_private_repos\":0,\"private_gists\":0,\"disk_usage\":0,\"collaborators\":0,\"billing_email\":\"<GITLAB_NAMESPACE>+test-git-repo+git-repo+github@m0g.net\",\"plan\":{\"name\":\"free\",\"space\":976562499,\"private_repos\":0,\"filled_seats\":1,\"seats\":0}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"5fecacb8e75f216471110d336947403d\"",
          "Last-Modified": "Sun, 16 Oct 2016 00:09:22 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "admin:org, read:org, repo, user, write:org",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "repo, delete_repo, gist",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4983",
          "X-RateLimit-Reset": "1476580399"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/orgs/test-git-repo"
      }
    },
    {
      "recorded_at": "2016-10-16T00:15:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"git-repo\", \"homepage\": \"\", \"private\": false, \"has_issues\": true, \"auto_init\": false, \"has_wiki\": true, \"has_downloads\": true, \"gitignore_template\": \"\", \"description\": \"\"}"
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://api.github.com/orgs/test-git-repo/repos"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Validation Failed\",\"errors\":[{\"resource\":\"Repository\",\"code\":\"custom\",\"field\":\"name\",\"message\":\"name already exists on this account\"}],\"documentation_url\":\"https://developer.github.com/v3/repos/#create\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "422 Unprocessable Entity",
          "X-Accepted-OAuth-Scopes": "public_repo, repo",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "repo, delete_repo, gist",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4982",
          "X-RateLimit-Reset": "1476580399"
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        },
        "url": "https://api.github.com/orgs/test-git-repo/repos"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}