{
  "http_interactions": [
    {
      "recorded_at": "2017-11-18T19:11:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80&d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"bio\":\": :(){ :|:& };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"https://twitter.com/<GITLAB_NAMESPACE>\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":\"\",\"last_sign_in_at\":\"2017-11-17T10:36:04.133Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"last_activity_on\":\"2017-11-17\",\"email\":\"<GITLAB_NAMESPACE>@m0g.net\",\"theme_id\":2,\"color_scheme_id\":2,\"projects_limit\":100000,\"current_sign_in_at\":\"2017-11-18T18:16:09.589Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"shared_runners_minutes_limit\":2000}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"dd4b3d4e859a562f3cd15d5e8ff4a2ac\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "1",
          "RateLimit-Remaining": "599",
          "RateLimit-Reset": "1511032333",
          "RateLimit-ResetTime": "Sun, 18 Nov 2017 19:12:13 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/user"
      }
    },
    {
      "recorded_at": "2017-11-18T19:11:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/git-repo-test%2Fsubgroup%2Ftest-repo"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":4685682,\"description\":\"This is a test repository for testing the subgroup feature.\",\"default_branch\":\"master\",\"tag_list\":[],\"public\":true,\"archived\":false,\"visibility_level\":20,\"ssh_url_to_repo\":\"git@gitlab.com:git-repo-test/subgroup/test-repo.git\",\"http_url_to_repo\":\"https://gitlab.com/git-repo-test/subgroup/test-repo.git\",\"web_url\":\"https://gitlab.com/git-repo-test/subgroup/test-repo\",\"name\":\"test-repo\",\"name_with_namespace\":\"git-repo-test / This is a test subgroup. / test-repo\",\"path\":\"test-repo\",\"path_with_namespace\":\"git-repo-test/subgroup/test-repo\",\"resolve_outdated_diff_discussions\":false,\"container_registry_enabled\":true,\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"builds_enabled\":true,\"snippets_enabled\":true,\"created_at\":\"2017-11-18T18:31:01.883Z\",\"last_activity_at\":\"2017-11-18T18:31:01.883Z\",\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":459552,\"namespace\":{\"id\":2206971,\"name\":\"This is a test subgroup.\",\"path\":\"subgroup\",\"kind\":\"group\",\"full_path\":\"git-repo-test/subgroup\",\"parent_id\":938543,\"members_count_with_descendants\":1,\"plan\":null},\"avatar_url\":null,\"star_count\":0,\"forks_count\":0,\"open_issues_count\":0,\"runners_token\":\"Rxvwns7uBG-evsLy7Ykq\",\"public_builds\":true,\"shared_with_groups\":[],\"only_allow_merge_if_build_succeeds\":false,\"request_access_enabled\":false,\"only_allow_merge_if_all_discussions_are_resolved\":false,\"approvals_before_merge\":0,\"permissions\":{\"project_access\":null,\"group_access\":{\"access_level\":50,\"notification_level\":3}}}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"2fc35fbadcaa77910f0ee77ae6c20588\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "2",
          "RateLimit-Remaining": "598",
          "RateLimit-Reset": "1511032333",
          "RateLimit-ResetTime": "Sun, 18 Nov 2017 19:12:13 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/projects/git-repo-test%2Fsubgroup%2Ftest-repo"
      }
    },
    {
      "recorded_at": "2017-11-18T19:11:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/4685682/repository/tree"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":\"655302fb876ad5f8c8e700618cd4f4e9adc8830a\",\"name\":\"README.md\",\"type\":\"blob\",\"path\":\"README.md\",\"mode\":\"100644\"}]"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"ba0cb476058de54a838496057159282b\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "3",
          "RateLimit-Remaining": "597",
          "RateLimit-Reset": "1511032333",
          "RateLimit-ResetTime": "Sun, 18 Nov 2017 19:12:13 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/projects/4685682/repository/tree"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}
