{
  "http_interactions": [
    {
      "recorded_at": "2016-05-12T17:24:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"login\":\"<GITHUB_NAMESPACE>\",\"id\":254441,\"avatar_url\":\"https://avatars.githubusercontent.com/u/254441?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>\",\"html_url\":\"https://github.com/<GITHUB_NAMESPACE>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"<GITHUB_NAMESPACE>\",\"company\":null,\"blog\":\"http://<GITHUB_NAMESPACE>.got.nothing.to/blog/\",\"location\":\"Paris\",\"email\":null,\"hireable\":true,\"bio\":null,\"public_repos\":72,\"public_gists\":10,\"followers\":44,\"following\":13,\"created_at\":\"2010-04-27T14:04:09Z\",\"updated_at\":\"2016-03-26T00:48:05Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"0aa481b18bc60170aa178c9983d294fc\"",
          "Last-Modified": "Sat, 26 Mar 2016 00:48:05 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "delete_repo, gist, repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4990",
          "X-RateLimit-Reset": "1463075761"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/user"
      }
    },
    {
      "recorded_at": "2016-05-12T17:24:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/users/<GITHUB_NAMESPACE>/gists?per_page=100"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"url\":\"https://api.github.com/gists/a7ce4fddba7744ddf335\",\"forks_url\":\"https://api.github.com/gists/a7ce4fddba7744ddf335/forks\",\"commits_url\":\"https://api.github.com/gists/a7ce4fddba7744ddf335/commits\",\"id\":\"a7ce4fddba7744ddf335\",\"git_pull_url\":\"https://gist.github.com/a7ce4fddba7744ddf335.git\",\"git_push_url\":\"https://gist.github.com/a7ce4fddba7744ddf335.git\",\"html_url\":\"https://gist.github.com/a7ce4fddba7744ddf335\",\"files\":{\"unicode_combined.py\":{\"filename\":\"unicode_combined.py\",\"type\":\"application/x-python\",\"language\":\"Python\",\"raw_url\":\"https://gist.githubusercontent.com/<GITHUB_NAMESPACE>/a7ce4fddba7744ddf335/raw/cbeef8e3e1394c03bade9adbfe0d7d2dce7b279c/unicode_combined.py\",\"size\":1048}},\"public\":true,\"created_at\":\"2015-12-26T18:30:26Z\",\"updated_at\":\"2015-12-26T18:52:22Z\",\"description\":\"unicode combined class for better character counting and indexing\",\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/a7ce4fddba7744ddf335/comments\",\"owner\":{\"login\":\"<GITHUB_NAMESPACE>\",\"id\":254441,\"avatar_url\":\"https://avatars.githubusercontent.com/u/254441?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>\",\"html_url\":\"https://github.com/<GITHUB_NAMESPACE>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/received_events\",\"type\":\"User\",\"site_admin\":false},\"truncated\":false},{\"url\":\"https://api.github.com/gists/7e5a12bc158a79966020\",\"forks_url\":\"https://api.github.com/gists/7e5a12bc158a79966020/forks\",\"commits_url\":\"https://api.github.com/gists/7e5a12bc158a79966020/commits\",\"id\":\"7e5a12bc158a79966020\",\"git_pull_url\":\"https://gist.github.com/7e5a12bc158a79966020.git\",\"git_push_url\":\"https://gist.github.com/7e5a12bc158a79966020.git\",\"html_url\":\"https://gist.github.com/7e5a12bc158a79966020\",\"files\":{\"avr-gcc-build.log\":{\"filename\":\"avr-gcc-build.log\",\"type\":\"text/plain\",\"language\":null,\"raw_url\":\"https://gist.githubusercontent.com/<GITHUB_NAMESPACE>/7e5a12bc158a79966020/raw/de8654efdbef498b8b44190e030eb6e00b30df17/avr-gcc-build.log\",\"size\":75699}},\"public\":false,\"created_at\":\"2015-02-21T23:58:56Z\",\"updated_at\":\"2015-08-29T14:15:54Z\",\"description\":\"avr-gcc derivation build\",\"comments\":0,\"user\":null,\"comments_url\":\"https://api.github.com/gists/7e5a12bc158a79966020/comments\",[...]
