{
  "http_interactions": [
    {
      "recorded_at": "2019-08-26T21:51:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"bio\":\": :(){ :|:\\u0026 };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"public_email\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"https://twitter.com/<GITLAB_NAMESPACE>\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":\"\",\"last_sign_in_at\":\"2019-08-19T16:34:20.318Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"last_activity_on\":\"2019-08-26\",\"email\":\"<GITLAB_NAMESPACE>+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":2,\"projects_limit\":100000,\"current_sign_in_at\":\"2019-08-26T12:05:47.884Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_profile\":false,\"shared_runners_minutes_limit\":2000,\"extra_shared_runners_minutes_limit\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"c277655375af222ec17621ae3125a5fd\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "1",
          "RateLimit-Remaining": "599",
          "RateLimit-Reset": "1566856322",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:52:02 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/user"
      }
    },
    {
      "recorded_at": "2019-08-26T21:51:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/projects/<GITLAB_NAMESPACE>%2Fgit-repo"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1016797,\"description\":\" Git-Repo: CLI utility to manage git services from your workspace\",\"name\":\"git-repo\",\"name_with_namespace\":\"Guyzmo / git-repo\",\"path\":\"git-repo\",\"path_with_namespace\":\"<GITLAB_NAMESPACE>/git-repo\",\"created_at\":\"2016-03-30T22:33:37.575Z\",\"default_branch\":\"master\",\"tag_list\":[\"cli\",\"git\",\"python\",\"tool\"],\"ssh_url_to_repo\":\"git@gitlab.com:<GITLAB_NAMESPACE>/git-repo.git\",\"http_url_to_repo\":\"https://gitlab.com/<GITLAB_NAMESPACE>/git-repo.git\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>/git-repo\",\"readme_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>/git-repo/blob/master/README.md\",\"avatar_url\":null,\"star_count\":25,\"forks_count\":2,\"last_activity_at\":\"2017-11-21T09:43:19.333Z\",\"namespace\":{\"id\":540439,\"name\":\"Guyzmo\",\"path\":\"<GITLAB_NAMESPACE>\",\"kind\":\"user\",\"full_path\":\"<GITLAB_NAMESPACE>\",\"parent_id\":null,\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\"},\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/1016797\",\"merge_requests\":\"https://gitlab.com/api/v4/projects/1016797/merge_requests\",\"repo_branches\":\"https://gitlab.com/api/v4/projects/1016797/repository/branches\",\"labels\":\"https://gitlab.com/api/v4/projects/1016797/labels\",\"events\":\"https://gitlab.com/api/v4/projects/1016797/events\",\"members\":\"https://gitlab.com/api/v4/projects/1016797/members\"},\"empty_repo\":false,\"archived\":false,\"visibility\":\"public\",\"owner\":{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\"},\"resolve_outdated_diff_discussions\":null,\"container_registry_enabled\":false,\"issues_enabled\":false,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"jobs_enabled\":true,\"snippets_enabled\":true,\"issues_access_level\":\"disabled\",\"repository_access_level\":\"enabled\",\"merge_requests_access_level\":\"enabled\",\"wiki_access_level\":\"enabled\",\"builds_access_level\":\"enabled\",\"snippets_access_level\":\"enabled\",\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":459552,\"import_status\":\"none\",\"import_error\":null,\"runners_token\":\"h6SUPDnpYeKcoayhrfEv\",\"ci_default_git_depth\":null,\"public_jobs\":true,\"build_git_strategy\":\"fetch\",\"build_timeout\":3600,\"auto_cancel_pending_pipelines\":\"enabled\",\"build_coverage_regex\":\"\\\\d+\\\\%\\\\s*$\",\"ci_config_path\":null,\"shared_with_groups\":[],\"only_allow_merge_if_pipeline_succeeds\":false,\"request_access_enabled\":true,\"only_allow_merge_if_all_discussions_are_resolved\":null,\"printing_merge_request_link_enabled\":true,\"merge_method\":\"merge\",\"auto_devops_enabled\":false,\"auto_devops_deploy_strategy\":\"continuous\",\"permissions\":{\"project_access\":{\"access_level\":40,\"notification_level\":3},\"group_access\":null},\"approvals_before_merge\":0,\"mirror\":false,\"external_authorization_classification_label\":\"\",\"packages_enabled\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"34f789de2e7db56ee35af941becef3d7\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "2",
          "RateLimit-Remaining": "598",
          "RateLimit-Reset": "1566856322",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:52:02 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/projects/<GITLAB_NAMESPACE>%2Fgit-repo"
      }
    },
    {
      "recorded_at": "2019-08-26T21:51:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/projects/1016797/snippets/1889262"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1889262,\"title\":\"this is a secret test.\",\"file_name\":\"random-fortune-1.txt\",\"description\":null,\"visibility\":\"private\",\"author\":{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\"},\"updated_at\":\"2019-08-26T21:44:47.591Z\",\"created_at\":\"2019-08-26T21:44:47.591Z\",\"project_id\":1016797,\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>/git-repo/snippets/1889262\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"f8d66ec4627a0c33196fac4de2e99e82\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "3",
          "RateLimit-Remaining": "597",
          "RateLimit-Reset": "1566856323",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:52:03 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/projects/1016797/snippets/1889262"
      }
    },
    {
      "recorded_at": "2019-08-26T21:51:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "DELETE",
        "uri": "https://gitlab.com/api/v4/projects/1016797/snippets/1889262"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "4",
          "RateLimit-Remaining": "596",
          "RateLimit-Reset": "1566856323",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:52:03 GMT"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://gitlab.com/api/v4/projects/1016797/snippets/1889262"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}