{
  "http_interactions": [
    {
      "recorded_at": "2016-03-30T21:12:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {},
        "method": "GET",
        "uri": "https://bitbucket.org/!api/1.0/users/<GITHUB_NAMESPACE>/"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"repositories\": [{\"scm\": \"git\", \"has_wiki\": false, \"last_updated\": \"2016-03-29T18:01:17.172\", \"no_forks\": false, \"created_on\": \"2016-03-29T18:01:16.965\", \"owner\": \"<GITHUB_NAMESPACE>\", \"logo\": \"https://bitbucket.org/<GITHUB_NAMESPACE>/git_tutorial/avatar/32/?ts=1459267277\", \"email_mailinglist\": \"\", \"is_mq\": false, \"size\": 62738, \"read_only\": false, \"fork_of\": {\"scm\": \"git\", \"has_wiki\": false, \"last_updated\": \"2015-10-14T12:17:52.926\", \"no_forks\": false, \"created_on\": \"2015-10-13T19:41:25.948\", \"owner\": \"abdo2015\", \"logo\": \"https://bitbucket.org/abdo2015/git_tutorial/avatar/32/?ts=1444817872\", \"email_mailinglist\": \"\", \"is_mq\": false, \"size\": 75295, \"read_only\": false, \"creator\": null, \"state\": \"available\", \"utc_created_on\": \"2015-10-13 17:41:25+00:00\", \"website\": \"\", \"description\": \"a repository to show git features\", \"has_issues\": false, \"is_fork\": false, \"slug\": \"git_tutorial\", \"is_private\": false, \"name\": \"git_tutorial\", \"language\": \"java\", \"utc_last_updated\": \"2015-10-14 10:17:52+00:00\", \"email_writers\": false, \"no_public_forks\": false, \"resource_uri\": \"/1.0/repositories/abdo2015/git_tutorial\"}, \"mq_of\": {\"scm\": \"git\", \"has_wiki\": false, \"last_updated\": \"2015-10-14T12:17:52.926\", \"no_forks\": false, \"created_on\": \"2015-10-13T19:41:25.948\", \"owner\": \"abdo2015\", \"logo\": \"https://bitbucket.org/abdo2015/git_tutorial/avatar/32/?ts=1444817872\", \"email_mailinglist\": \"\", \"is_mq\": false, \"size\": 75295, \"read_only\": false, \"creator\": null, \"state\": \"available\", \"utc_created_on\": \"2015-10-13 17:41:25+00:00\", \"website\": \"\", \"description\": \"a repository to s[...]
    {
      "recorded_at": "2016-03-30T21:12:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {},
        "method": "GET",
        "uri": "https://bitbucket.org/!api/1.0/users/abdo2015/"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"repositories\": [{\"scm\": \"git\", \"has_wiki\": true, \"last_updated\": \"2015-10-14T18:05:16.343\", \"no_forks\": false, \"created_[...]
    {
      "recorded_at": "2016-03-30T21:12:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=git_tutorial"
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOndtY2VsaW5l",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://bitbucket.org/!api/1.0/repositories/abdo2015/git_tutorial/fork"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"scm\": \"git\", \"has_wiki\": false, \"last_updated\": \"2016-03-30T23:13:05.996\", \"no_forks\": false, \"created_on\": \"2016-03-30T23:13:05.893\", \"owner\": \"<GITHUB_NAMESPACE>\", \"logo\": \"https://bitbucket.org/<GITHUB_NAMESPACE[...]
