{
  "http_interactions": [
    {
      "recorded_at": "2016-03-30T14:13:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"name\":\"git-repo-test\",\"username\":\"git-repo-test\",\"id\":470686,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/59014873897ec9bf64471e4ddf61c8d5?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/u/git-repo-test\",\"created_at\":\"2016-03-30T13:15:50.649Z\",\"is_admin\":false,\"bio\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"\",\"website_url\":\"\",\"last_sign_in_at\":\"2016-03-30T13:19:50.252Z\",\"confirmed_at\":\"2016-03-30T13:18:12.005Z\",\"email\":\"guyzmo+git-repo+projects+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":1,\"projects_limit\":100000,\"current_sign_in_at\":\"2016-03-30T13:19:50.252Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_token\":\"<PRIVATE_KEY_GITLAB>\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"76175f0e11cbbd54fc8475d86a9ab425\"",
          "Status": "200 OK"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/user"
      }
    },
    {
      "recorded_at": "2016-03-30T14:13:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"foobar\"}"
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "POST",
        "uri": "https://gitlab.com/api/v3/projects"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1015171,\"description\":null,\"default_branch\":null,\"tag_list\":[],\"public\":false,\"archived\":false,\"visibility_level\":0,\"ssh_url_to_repo\":\"git@gitlab.com:git-repo-test/foobar.git\",\"http_url_to_repo\":\"https://gitlab.com/git-repo-test/foobar.git\",\"web_url\":\"https://gitlab.com/git-repo-test/foobar\",\"owner\":{\"name\":\"git-repo-test\",\"username\":\"git-repo-test\",\"id\":470686,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/59014873897ec9bf64471e4ddf61c8d5?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/u/git-repo-test\"},\"name\":\"foobar\",\"name_with_namespace\":\"git-repo-test / foobar\",\"path\":\"foobar\",\"path_with_namespace\":\"git-repo-test/foobar\",\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"builds_enabled\":true,\"snippets_enabled\":false,\"created_at\":\"2016-03-30T14:13:27.746Z\",\"last_activity_at\":\"2016-03-30T14:13:29.956Z\",\"shared_runners_enabled\":true,\"creator_id\":470686,\"namespace\":{\"id\":554043,\"name\":\"git-repo-test\",\"path\":\"git-repo-test\",\"owner_id\":470686,\"created_at\":\"2016-03-30T13:15:50.947Z\",\"updated_at\":\"2016-03-30T13:36:53.588Z\",\"description\":\"\",\"avatar\":null,\"membership_lock\":false,\"share_with_group_lock\":false,\"visibility_level\":20,\"last_ldap_sync_at\":null},\"avatar_url\":null,\"star_count\":0,\"forks_count\":0,\"open_issues_count\":0,\"runners_token\":\"wyVtSdo4YEXqkBCvJryV\",\"public_builds\":true}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"9e06d77974caaeab86a76592fce3d714\"",
          "Status": "201 Created"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://gitlab.com/api/v3/projects"
      }
    },
    {
      "recorded_at": "2016-03-30T14:13:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/git-repo-test%2Ffoobar"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1015171,\"description\":null,\"default_branch\":null,\"tag_lis[...]
