{
  "http_interactions": [
    {
      "recorded_at": "2016-05-12T17:36:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"login\":\"<GITHUB_NAMESPACE>\",\"id\":254441,\"avatar_url\":\"https://avatars.githubusercontent.com/u/254441?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>\",\"html_url\":\"https://github.com/<GITHUB_NAMESPACE>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"<GITHUB_NAMESPACE>\",\"company\":null,\"blog\":\"http://<GITHUB_NAMESPACE>.got.nothing.to/blog/\",\"location\":\"Paris\",\"email\":null,\"hireable\":true,\"bio\":null,\"public_repos\":72,\"public_gists\":10,\"followers\":44,\"following\":13,\"created_at\":\"2010-04-27T14:04:09Z\",\"updated_at\":\"2016-03-26T00:48:05Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"0aa481b18bc60170aa178c9983d294fc\"",
          "Last-Modified": "Sat, 26 Mar 2016 00:48:05 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "delete_repo, gist, repo",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4984",
          "X-RateLimit-Reset": "1463075761"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/user"
      }
    },
    {
      "recorded_at": "2016-05-12T17:36:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/gists/10118958"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"url\":\"https://api.github.com/gists/10118958\",\"forks_url\":\"https://api.github.com/gists/10118958/forks\",\"commits_url\":\"https://api.github.com/gists/10118958/commits\",\"id\":\"10118958\",\"git_pull_url\":\"https://gist.github.com/10118958.git\",\"git_push_url\":\"https://gist.github.com/10118958.git\",\"html_url\":\"https://gist.github.com/10118958\",\"files\":{\"i2c_scanner.c\":{\"filename\":\"i2c_scanner.c\",\"type\":\"text/plain\",\"language\":\"C\",\"raw_url\":\"https://gist.githubusercontent.com/<GITHUB_NAMESPACE>/10118958/raw/bbc8ec3611c82adb71f55c524cda9a92529b9563/i2c_scanner.c\",\"size\":2542,\"truncated\":false,\"content\":\"// by @<GITHUB_NAMESPACE> under WTFPL license\\n// http://i.got.nothing.to/hack/on/run-the-sl030-rfid-reader-on-linux/\\n\\n#include <errno.h>\\n#include <string.h>\\n#include <stdio.h>\\n#include <stdlib.h>\\n#include <unistd.h>\\n#include <linux/i2c-dev.h>\\n#include <sys/ioctl.h>\\n#include <sys/types.h>\\n#include <sys/stat.h>\\n#include <fcntl.h>\\n#include <time.h>\\n\\nconst char STATUS[][32] = {\\n    /*0x00*/ \\\"Operation succeed\\\",\\n    /*0x01*/ \\\"No tag\\\",\\n    /*0x02*/ \\\[...]
