{
  "http_interactions": [
    {
      "recorded_at": "2017-02-01T00:41:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"login\":\"<GITHUB_NAMESPACE>\",\"id\":254441,\"avatar_url\":\"https://avatars.githubusercontent.com/u/254441?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>\",\"html_url\":\"https://github.com/<GITHUB_NAMESPACE>\",\"followers_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB_NAMESPACE>/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"<GITHUB_NAMESPACE>\",\"company\":null,\"blog\":\"http://<GITHUB_NAMESPACE>.got.nothing.to/blog/\",\"location\":\"Paris\",\"email\":null,\"hireable\":true,\"bio\":\"I'm zmo on freenode.\\r\\n\\r\\n: :(){ :|:& };:\",\"public_repos\":93,\"public_gists\":21,\"followers\":56,\"following\":15,\"created_at\":\"2010-04-27T14:04:09Z\",\"updated_at\":\"2016-12-30T16:56:26Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"1d82c2c7174688d3e410d8908b5dab40\"",
          "Last-Modified": "Fri, 30 Dec 2016 16:56:26 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "repo, delete_repo, gist",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4686",
          "X-RateLimit-Reset": "1485910554"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/user"
      }
    },
    {
      "recorded_at": "2017-02-01T00:41:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/git-services/git-repo-test"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":79663368,\"name\":\"git-repo-test\",\"full_name\":\"git-services/git-repo-test\",\"owner\":{\"login\":\"git-services\",\"id\":25266016,\"avatar_url\":\"https://avatars.githubusercontent.com/u/25266016?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/git-services\",\"html_url\":\"https://github.com/git-services\",\"followers_url\":\"https://api.github.com/users/git-services/followers\",\"following_url\":\"https://api.github.com/users/git-services/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/git-services/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/git-services/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/git-services/subscriptions\",\"organizations_url\":\"https://api.github.com/users/git-services/orgs\",\"repos_url\":\"https://api.github.com/users/git-services/repos\",\"events_url\":\"https://api.github.com/users/git-services/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/git-services/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/git-services/git-repo-test\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/git-services/git-repo-test\",\"forks_url\":\"https://api.github.com/repos/git-services/git-repo-test/forks\",\"keys_url\":\"https://api.github.com/repos/git-services/git-repo-test/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/git-services/git-repo-test/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/git-services/git-repo-test/teams\",\"hooks_url\":\"https://api.github.com/repos/git-services/git-repo-test/hooks\",\"issue_events_url\":\"https://api.github.com/repos/git-services/git-repo-test/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/git-services/git-repo-test/events\",\"assignees_url\":\"https://api.github.com/repos/git-services/git-repo-test/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/git-services/git-repo-test/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/git-services/git-repo-test/tags\",\"blobs_url\":\"https://api.github.com/repos/git-services/git-repo-test/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/git-services/git-repo-test/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/git-services/git-repo-test/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/git-services/git-repo-test/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/git-services/git-repo-test/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/git-services/git-repo-test/languages\",\"stargazers_url\":\"https://api.github.com/repos/git-services/git-repo-test/stargazers\",\"contributors_url\":\"https://api.github.com/repos/git-services/git-repo-test/contributors\",\"subscribers_url\":\"https://api.github.com/repos/git-services/git-repo-test/subscribers\",\"subscription_url\":\"https://api.github.com/repos/git-services/git-repo-test/subscription\",\"commits_url\":\"https://api.github.com/repos/git-services/git-repo-test/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/git-services/git-repo-test/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/git-services/git-repo-test/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/git-services/git-repo-test/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/git-services/git-repo-test/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/git-services/git-repo-test/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/git-services/git-repo-test/merges\",\"archive_url\":\"https://api.github.com/repos/git-services/git-repo-test/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/git-services/git-repo-test/downloads\",\"issues_url\":\"https://api.github.com/repos/git-services/git-repo-test/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/git-services/git-repo-test/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/git-services/git-repo-test/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/git-services/git-repo-test/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/git-services/git-repo-test/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/git-services/git-repo-test/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/git-services/git-repo-test/deployments\",\"created_at\":\"2017-01-21T18:11:05Z\",\"updated_at\":\"2017-01-21T18:11:05Z\",\"pushed_at\":\"2017-01-21T23:59:07Z\",\"git_url\":\"git://github.com/git-services/git-repo-test.git\",\"ssh_url\":\"git@github.com:git-services/git-repo-test.git\",\"clone_url\":\"https://github.com/git-services/git-repo-test.git\",\"svn_url\":\"https://github.com/git-services/git-repo-test\",\"homepage\":\"\",\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":1,\"mirror_url\":null,\"open_issues_count\":7,\"forks\":1,\"open_issues\":7,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"organization\":{\"login\":\"git-services\",\"id\":25266016,\"avatar_url\":\"https://avatars.githubusercontent.com/u/25266016?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/git-services\",\"html_url\":\"https://github.com/git-services\",\"followers_url\":\"https://api.github.com/users/git-services/followers\",\"following_url\":\"https://api.github.com/users/git-services/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/git-services/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/git-services/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/git-services/subscriptions\",\"organizations_url\":\"https://api.github.com/users/git-services/orgs\",\"repos_url\":\"https://api.github.com/users/git-services/repos\",\"events_url\":\"https://api.github.com/users/git-services/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/git-services/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"network_count\":1,\"subscribers_count\":1}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"dd70ecdfd52247a5eb43dcd788cd8238\"",
          "Last-Modified": "Sat, 21 Jan 2017 18:11:05 GMT",
          "Status": "200 OK",
          "X-Accepted-OAuth-Scopes": "repo",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-OAuth-Scopes": "repo, delete_repo, gist",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Remaining": "4685",
          "X-RateLimit-Reset": "1485910554"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.github.com/repos/git-services/git-repo-test"
      }
    },
    {
      "recorded_at": "2017-02-01T00:41:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/git-services/git-repo-test/issues?state=all&direction=desc&per_page=100"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"url\":\"https://api.github.com/repos/git-services/git-repo-test/issues/7\",\"repository_url\":\"https://api.github.com/repos/git-services/git-repo-test\",\"labels_url\":\"https://api.github.com/repos/git-services/git-repo-test/issues/7/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/git-services/git-repo-test/issues/7/comments\",\"events_url\":\"https://api.github.com/repos/git-services/git-repo-test/issues/7/events\",\"html_url\":\"https://github.com/git-services/git-repo-test/issues/7\",\"id\":203653586,\"number\":7,\"title\":\"This is a test\",\"user\":{\"login\":\"test\",\"id\":254441,\"avatar_url\":\"https://avatars.githubusercontent.com/u/254441?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/test\",\"html_url\":\"https://github.com/test\",\"followers_url\":\"https://api.github.com/users/test/followers\",\"following_url\":\"https://api.github.com/users/test/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/test/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/test/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/test/subscriptions\",\"organizations_url\":\"https://api.github.com/users/test/orgs\",\"repos_url\":\"https://api.github.com/users/test/repos\",\"events_url\":\"https://api.github.com/users/test/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/test/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":523228924,\"url\":\"https://api.github.com/repos/git-services/git-repo-test/labels/enhancement\",\"name\":\"enhancement\",\"color\":\"84b6eb\",\"default\":true},{\"id\":523228925,\"url\":\"https://api.github.com/repos/git-services/git-repo-test/labels/help%20wanted\",\"name\":\"help wanted\",\"color\":\"128A0C\",\"default\":true},{\"id\":523228927,\"url\":\"https://api.github.com/repos/git-services/git-repo-test/labels/question\",\"name\":\"question\",\"color\":\"cc317c\",\"default\":true}],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":{\"url\":\"https://api.github.com/repos/git-services/git-repo-test/milestones/1\",\"html_url\":\"https://github.com/git-services/git-repo-test/milestone/1\",\"labels_url\":\"https://api.github.com/repos/git-services/git-repo-test/milestones/1/labels\",\"id\":2282464,\"number\":1,\"title\":\"pigs can fly\",\"description\":\"\ud83d\udc16\",\"creator\":{\"login\":\"test\",\"id\":254441,\"avatar_url\":\"https://avatars.githubusercontent.com/u/254441?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/test\",\"html_url\":\"https://github.com/test\",\"followers_url\":\"https://api.github.com/users/test/followers\",\"following_url\":\"https://api.github.com/users/test/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/test/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/test/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/test/subscriptions\",\"organizations_url\":\"https://api.github.com/users/test/orgs\",\"repos_url\":\"https://api.github.com/users/test/repos\",\"events_url\":\"https://api.github.com/users/test/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/test/received_events\",\"type\":\"User\",\"site_admin\":false},\"open_issues\":7,\"closed_issues\":0,\"state\":\"open\",\"created_at\":\"2017-01-27T15:14:53Z\",\"updated_at\":\"2017-02-01T00:39:45Z\",\"due_on\":\"2345-06-07T07:00:00Z\",\"closed_at\":null},\"comments\":0,\"created_at\":\"2017-01-27T14:49:52Z\",\"updated_at\":\"2017-02-01T00:39:42Z\",\"closed_at\":null,\"body_html\":\"<p>How successful is that test?</p>\",\"body_text\":\"How successful is that test?\",\"body\":\"How successful is that test?\"},{\"url\":\"https://api.github.com/repos/git-services/git-repo-test/issues/6\",\"repository_url\":\"https://api.github.com/repos/git-services/git-repo-test\",\"labels_url\":\"https://api.github.com/repos/git-services/git-repo-test/issues/6/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/git-services/git-repo-test/issues/6/comments\",\"events_url\":\"https://api.github.com/repos/git-services/git-repo-test/i[...]
    {
      "recorded_at": "2017-02-01T00:41:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/repos/git-services/git-repo-test/milestones?per_page=100"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "str[...]
    {
      "recorded_at": "2017-02-01T00:41:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"milestone\": null}"
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "PATCH",
        "uri": "https://api.github.com/repos/git-services/git-repo-test/issues/7"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
      [...]
[...]
