{
  "http_interactions": [
    {
      "recorded_at": "2016-11-27T23:24:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Tm9uZTpOb25l",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"id\":459552,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80&d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"is_admin\":false,\"bio\":\": :(){ :|:& };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":null,\"last_sign_in_at\":\"2016-11-05T15:04:27.341Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"email\":\"<GITLAB_NAMESPACE>+gitlab@m0g.net\",\"theme_id\":4,\"color_scheme_id\":4,\"projects_limit\":100000,\"current_sign_in_at\":\"2016-11-25T02:04:59.533Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"757252f72cad7c2cbb99b765d65cc424\""
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/user"
      }
    },
    {
      "recorded_at": "2016-11-27T23:24:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Tm9uZTpOb25l",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/git-repo-test%2Fgit-repo"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1848932,\"description\":null,\"default_branch\":null,\"tag_list\":[],\"public\":false,\"archived\":false,\"visibility_level\":0,\"ssh_url_to_repo\":\"git@gitlab.com:git-repo-test/git-repo.git\",\"http_url_to_repo\":\"https://gitlab.com/git-repo-test/git-repo.git\",\"web_url\":\"https://gitlab.com/git-repo-test/git-repo\",\"name\":\"git-repo\",\"name_with_namespace\":\"git-repo-test / git-repo\",\"path\":\"git-repo\",\"path_with_namespace\":\"git-repo-test/git-repo\",\"container_registry_enabled\":true,\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"builds_enabled\":true,\"snippets_enabled\":true,\"created_at\":\"2016-10-15T20:46:59.928Z\",\"last_activity_at\":\"2016-11-27T23:15:41.019Z\",\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":459552,\"namespace\":{\"id\":938543,\"name\":\"git-repo-test\",\"path\":\"git-repo-test\",\"owner_id\":null,\"created_at\":\"2016-10-15T20:32:52.148Z\",\"updated_at\":\"2016-10-15T20:32:52.148Z\",\"description\":\"\",\"avatar\":{\"url\":null},\"membership_lock\":false,\"share_with_group_lock\":false,\"visibility_level\":20,\"request_access_enabled\":true,\"ldap_sync_status\":\"ready\",\"ldap_sync_error\":null,\"ldap_sync_last_update_at\":null,\"ldap_sync_last_successful_update_at\":null,\"ldap_sync_last_sync_at\":null,\"deleted_at\":null,\"lfs_enabled\":null,\"repository_size_limit\":null},\"avatar_url\":null,\"star_count\":0,\"forks_count\":0,\"open_issues_count\":0,\"runners_token\":\"-vyTKYjbGYAP8GA3zDfz\",\"public_builds\":true,\"shared_with_groups\":[],\"only_allow_merge_if_build_succeeds\":false,\"request_access_enabled\":true,\"only_allow_merge_if_all_discussions_are_resolved\":null,\"approvals_before_merge\":0,\"permissions\":{\"project_access\":null,\"group_access\":{\"access_level\":50,\"notification_level\":3}}}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"84e604b8c9a6fd763bbef4d5b5376541\""
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/projects/git-repo-test%2Fgit-repo"
      }
    },
    {
      "recorded_at": "2016-11-27T23:24:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Tm9uZTpOb25l",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/1848932/merge_requests?project_id=1848932"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":1312801,\"iid\":1,\"project_id\":1848932,\"title\":\"Adding gitlab gists and requests feature\",\"description\":null,\"state\":\"opened\",\"created_at\":\"2016-11-27T23:15:40.809Z\",\"updated_at\":\"2016-11-27T23:15:40.809Z\",\"target_branch\":\"master\",\"source_branch\":\"features/gitlab-gists-requests\",\"upvotes\":0,\"downvotes\":0,\"author\":{\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"id\":459552,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\"},\"assignee\":null,\"source_project_id\":1848932,\"target_project_id\":1848932,\"labels\":[],\"work_in_progress\":false,\"milestone\":null,\"merge_when_build_succeeds\":false,\"merge_status\":\"unchecked\",\"sha\":null,\"merge_commit_sha\":null,\"subscribed\":true,\"user_notes_count\":0,\"approvals_before_merge\":null,\"should_remove_source_branch\":null,\"force_remove_source_branch\":null,\"web_url\":\"https://gitlab.com/git-repo-test/git-repo/merge_requests/1\"}]"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"bcf79763bb9afe38fa490c987521049c\"",
          "Link": "<https://gitlab.com/api/v3/projects/1848932/merge_requests?id=1848932&order_by=created_at&page=1&per_page=20&project_id=1848932&sort=desc&state=all>; rel=\"first\", <https://gitlab.com/api/v3/projects/1848932/merge_requests?id=1848932&order_by=created_at&page=1&per_page=20&project_id=1848932&sort=desc&state=all>; rel=\"last\"",
          "X-Next-Page": "",
          "X-Page": "1",
          "X-Per-Page": "20",
          "X-Prev-Page": "",
          "X-Total": "1",
          "X-Total-Pages": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/projects/1848932/merge_requests?project_id=1848932"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}