{
  "http_interactions": [
    {
      "recorded_at": "2017-08-06T19:11:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic X3VzZXJuYW1lX2JpdGJ1Y2tldDpfbmFtZXNwYWNlX2JpdGJ1Y2tldF8=",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": "text/html; charset=utf-8",
          "ETag": "\"d41d8cd98f00b204e9800998ecf8427e\"",
          "WWW-Authenticate": "Basic realm=\"Bitbucket.org HTTP\"",
          "X-Render-Time": "0.0180480480194",
          "X-Request-Count": "115",
          "X-Static-Version": "fa732b7ad25b",
          "X-Version": "fa732b7ad25b"
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "url": "https://api.bitbucket.org/2.0/user"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}