{
  "http_interactions": [
    {
      "recorded_at": "2016-12-24T13:43:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"username\": \"<BITBUCKET_NAMESPACE>\", \"website\": \"http://i.got.nothing.to/blog\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/hooks\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"repositories\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"followers\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/followers\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}, \"following\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/following\"}, \"snippets\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>\"}}, \"created_on\": \"2008-09-20T15:08:53.695316+00:00\", \"location\": null, \"type\": \"user\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"321b3bdea810843db96c90951905a5e3\"",
          "X-Accepted-OAuth-Scopes": "account",
          "X-Render-Time": "0.0172290802002",
          "X-Request-Count": "56",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/user"
      }
    },
    {
      "recorded_at": "2016-12-24T13:43:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"pagelen\": 30, \"values\": [{\"links\": {\"watchers\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/ggd4X/watchers\"}, \"commits\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/ggd4X/commits\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/ggd4X\"}, \"comments\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/ggd4X/comments\"}, \"patch\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/ggd4X/a06028aa7ae87180437b593c82b9fe1f3d96ff6f/patch\"}, \"html\": {\"href\": \"https://bitbucket.org/snippets/guyzmo/ggd4X\"}, \"diff\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/ggd4X/a06028aa7ae87180437b593c82b9fe1f3d96ff6f/diff\"}, \"clone\": [{\"href\": \"https://<BITBUCKET_NAMESPACE>@bitbucket.org/snippets/guyzmo/ggd4X/test.git\", \"name\": \"https\"}, {\"href\": \"ssh://git@bitbucket.org/snippets/guyzmo/ggd4X/test.git\", \"name\": \"ssh\"}]}, \"title\": \"test\", \"created_on\": \"2016-12-02T15:05:29.762008+00:00\", \"owner\": {\"username\": \"<BITBUCKET_NAMESPACE>\", \"type\": \"user\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}}}, \"updated_on\": \"2016-12-02T15:05:29.762041+00:00\", \"id\": \"ggd4X\", \"is_private\": false}, {\"links\": {\"watchers\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/ggda9/watchers\"}, \"commits\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/ggda9/commits\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/ggda9\"}, \"comments\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/ggda9/comments\"}, \"patch\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/guyzmo/ggda9/3fb5f10023c2fba04ebc7d13b1ceacd70185e210/patch\"}[...]
