{
  "http_interactions": [
    {
      "recorded_at": "2016-12-24T13:56:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"username\": \"<BITBUCKET_NAMESPACE>\", \"website\": \"http://i.got.nothing.to/blog\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/hooks\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"repositories\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"followers\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/followers\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}, \"following\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/following\"}, \"snippets\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>\"}}, \"created_on\": \"2008-09-20T15:08:53.695316+00:00\", \"location\": null, \"type\": \"user\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"321b3bdea810843db96c90951905a5e3\"",
          "X-Accepted-OAuth-Scopes": "account",
          "X-Render-Time": "0.0206379890442",
          "X-Request-Count": "57",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/user"
      }
    },
    {
      "recorded_at": "2016-12-24T13:56:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"scm\": \"git\", \"files\": {\"snippet.txt\": {\"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA/f821a7650964bf007e13b77de8fd957faf7c2b67/files/snippet.txt\"}, \"html\": {\"href\": \"https://bitbucket.org/snippets/<BITBUCKET_NAMESPACE>/77gaA/revisions/f821a7650964bf007e13b77de8fd957faf7c2b67#file-snippet.txt\"}}}}, \"links\": {\"watchers\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA/watchers\"}, \"commits\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA/commits\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA\"}, \"comments\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA/comments\"}, \"patch\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA/f821a7650964bf007e13b77de8fd957faf7c2b67/patch\"}, \"html\": {\"href\": \"https://bitbucket.org/snippets/<BITBUCKET_NAMESPACE>/77gaA\"}, \"diff\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA/f821a7650964bf007e13b77de8fd957faf7c2b67/diff\"}, \"clone\": [{\"href\": \"https://<BITBUCKET_NAMESPACE>@bitbucket.org/snippets/<BITBUCKET_NAMESPACE>/77gaA/test3.git\", \"name\": \"https\"}, {\"href\": \"ssh://git@bitbucket.org/snippets/<BITBUCKET_NAMESPACE>/77gaA/test3.git\", \"name\": \"ssh\"}]}, \"creator\": {\"username\": \"<BITBUCKET_NAMESPACE>\", \"type\": \"user\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}}}, \"title\": \"test3\", \"created_on\": \"2016-12-02T15:48:10.399475+00:00\", \"owner\": {\"username\": \"<BITBUCKET_NAMESPACE>\", \"type\": \"user\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}}}, \"updated_on\": \"2016-12-02T15:48:10.399525+00:00\", \"type\": \"snippet\", \"id\": \"77gaA\", \"is_private\": false}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"634d13296c0e7b0e4c0e357a8a0fcaf2\"",
          "X-Accepted-OAuth-Scopes": "snippet",
          "X-Render-Time": "0.0476751327515",
          "X-Request-Count": "609",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA"
      }
    },
    {
      "recorded_at": "2016-12-24T13:56:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://bitbucket.org/!api/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA/files/snippet.txt"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Language": "en",
          "Content-Type": "text/html; charset=utf-8",
          "ETag": "\"d41d8cd98f00b204e9800998ecf8427e\"",
          "Location": "https://bitbucket.org/!api/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA/f821a7650964bf007e13b77de8fd957faf7c2b67/files/snippet.txt",
          "X-Accepted-OAuth-Scopes": "snippet",
          "X-Render-Time": "0.0238780975342",
          "X-Request-Count": "647",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 302,
          "message": "FOUND"
        },
        "url": "https://bitbucket.org/!api/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA/files/snippet.txt"
      }
    },
    {
      "recorded_at": "2016-12-24T13:56:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://bitbucket.org/!api/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA/f821a7650964bf007e13b77de8fd957faf7c2b67/files/snippet.txt"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "ttt"
        },
        "headers": {
          "Content-Language": "en",
          "Content-Type": "text/plain",
          "ETag": "\"9990775155c3518a0d7917f7780b24aa\"",
          "X-Accepted-OAuth-Scopes": "snippet",
          "X-Render-Time": "0.0261449813843",
          "X-Request-Count": "754",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://bitbucket.org/!api/2.0/snippets/<BITBUCKET_NAMESPACE>/77gaA/f821a7650964bf007e13b77de8fd957faf7c2b67/files/snippet.txt"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}