{
  "http_interactions": [
    {
      "recorded_at": "2016-03-29T15:54:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {},
        "method": "GET",
        "uri": "https://bitbucket.org/!api/1.0/users/guyzmo/"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"repositories\": [{\"scm\": \"git\", \"has_wiki\": false, \"last_updated\": \"2016-03-29T17:28:58.133\", \"no_forks\": false, \"created_on\": \"2016-03-29T17:28:58.052\", \"owner\": \"guyzmo\", \"logo\": \"https://bitbucket.org/guyzmo/git_tutorial/avatar/32/?ts=1459265338\", \"email_mailinglist\": \"\", \"is_mq\": false, \"size\": 62738, \"read_only\": false, \"fork_of\": {\"scm\": \"git\", \"has_wiki\": false, \"last_updated\": \"2015-10-14T12:17:52.926\", \"no_forks\": false, \"created_on\": \"2015-10-13T19:41:25.948\", \"owner\": \"abdo2015\", \"logo\": \"https://bitbucket.org/abdo2015/git_tutorial/avatar/32/?ts=1444817872\", \"email_mailinglist\": \"\", \"is_mq\": false, \"size\": 75295, \"read_only\": false, \"creator\": null, \"state\": \"available\", \"utc_created_on\": \"2015-10-13 17:41:25+00:00\", \"website\": \"\", \"description\": \"a repository to show git features\", \"has_issues\": false, \"is_fork\": false, \"slug\": \"git_tutorial\", \"is_private\": false, \"name\": \"git_tutorial\", \"language\": \"java\", \"utc_last_updated\": \"2015-10-14 10:17:52+00:00\", \"email_writers\": false, \"no_public_forks\": false, \"resource_uri\": \"/1.0/repositories/abdo2015/git_tutorial\"}, \"mq_of\": {\"scm\": \"git\", \"has_wiki\": false, \"last_updated\": \"2015-10-14T12:17:52.926\", \"no_forks\": false, \"created_on\": \"2015-10-13T19:41:25.948\", \"owner\": \"abdo2015\", \"logo\": \"https://bitbucket.org/abdo2015/git_tutorial/avatar/32/?ts=1444817872\", \"email_mailinglist\": \"\", \"is_mq\": false, \"size\": 75295, \"read_only\": false, \"creator\": null, \"state\": \"available\", \"utc_created_on\": \"2015-10-13 17:41:25+00:00\", \"website\": \"\", \"description\": \"a repository to s[...]
    {
      "recorded_at": "2016-03-29T15:54:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOndtY2VsaW5l"
        },
        "method": "DELETE",
        "uri": "https://bitbucket.org/!api/1.0/repositories/guyzmo/foobar/"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": ""
        },
        "headers": {
          "Content-Language": "en",
          "Content-Type": "text/plain",
          "ETag": "\"d41d8cd98f00b204e9800998ecf8427e\"",
          "X-Accepted-OAuth-Scopes": "repository:admin",
          "X-Render-Time": "0.20605301857",
          "X-Request-Count": "151",
          "X-Static-Version": "705c66f23e93",
          "X-Version": "705c66f23e93"
        },
        "status": {
          "code": 204,
          "message": "NO CONTENT"
        },
        "url": "https://bitbucket.org/!api/1.0/repositories/guyzmo/foobar/"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}