{
  "http_interactions": [
    {
      "recorded_at": "2017-08-06T18:57:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"name\":\"Amanda Cameron\",\"username\":\"AmandaCameron\",\"id\":591747,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/6977e7a51b06decd9b2ae6be9f633a02?s=80&d=identicon\",\"web_url\":\"https://gitlab.com/AmandaCameron\",\"created_at\":\"2016-06-23T16:54:06.799Z\",\"bio\":null,\"location\":null,\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"\",\"website_url\":\"\",\"organization\":null,\"last_sign_in_at\":\"2017-06-22T21:18:04.190Z\",\"confirmed_at\":\"2016-06-23T16:54:06.710Z\",\"last_activity_on\":\"2017-05-24\",\"email\":\"git@amanda.darkdna.net\",\"color_scheme_id\":1,\"projects_limit\":100000,\"current_sign_in_at\":\"2017-08-04T19:08:12.530Z\",\"identities\":[{\"provider\":\"github\",\"extern_uid\":\"114638\"}],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"shared_runners_minutes_limit\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"90fe2c43890de56f17c2e1625d35b52c\""
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/user"
      }
    },
    {
      "recorded_at": "2017-08-06T18:57:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/git-repo-test%2Fsubgroup%2Ftest-repo"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"message\":\"404 Project Not Found\"}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://gitlab.com/api/v3/projects/git-repo-test%2Fsubgroup%2Ftest-repo"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}