{
  "http_interactions": [
    {
      "recorded_at": "2016-03-30T14:13:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"name\":\"<GITLAB_NAMESPACE>\",\"username\":\"<GITLAB_NAMESPACE>\",\"id\":470686,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/59014873897ec9bf64471e4ddf61c8d5?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/u/<GITLAB_NAMESPACE>\",\"created_at\":\"2016-03-30T13:15:50.649Z\",\"is_admin\":false,\"bio\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"\",\"website_url\":\"\",\"last_sign_in_at\":\"2016-03-30T13:19:50.252Z\",\"confirmed_at\":\"2016-03-30T13:18:12.005Z\",\"email\":\"guyzmo+git-repo+projects+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":1,\"projects_limit\":100000,\"current_sign_in_at\":\"2016-03-30T13:19:50.252Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_token\":\"<PRIVATE_KEY_GITLAB>\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"76175f0e11cbbd54fc8475d86a9ab425\"",
          "Status": "200 OK"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/user"
      }
    },
    {
      "recorded_at": "2016-03-30T14:13:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/<GITLAB_NAMESPACE>%2Ffoobar"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1015171,\"description\":null,\"default_branch\":null,\"tag_list\":[],\"public\":false,\"archived\":false,\"visibility_level\":0,\"ssh_url_to_repo\":\"git@gitlab.com:<GITLAB_NAMESPACE>/foobar.git\",\"http_url_to_repo\":\"https://gitlab.com/<GITLAB_NAMESPACE>/foobar.git\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>/foobar\",\"owner\":{\"name\":\"<GITLAB_NAMESPACE>\",\"username\":\"<GITLAB_NAMESPACE>\",\"id\":470686,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/59014873897ec9bf64471e4ddf61c8d5?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/u/<GITLAB_NAMESPACE>\"},\"name\":\"foobar\",\"name_with_namespace\":\"<GITLAB_NAMESPACE> / foobar\",\"path\":\"foobar\",\"path_with_namespace\":\"<GITLAB_NAMESPACE>/foobar\",\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"builds_enabled\":true,\"snippets_enabled\":false,\"created_at\":\"2016-03-30T14:13:27.746Z\",\"last_activity_at\":\"2016-03-30T14:13:29.956Z\",\"shared_runners_enabled\":true,\"creator_id\":470686,\"namespace\":{\"id\":554043,\"name\":\"<GITLAB_NAMESPACE>\",\"path\":\"<GITLAB_NAMESPACE>\",\"owner_id\":470686,\"created_at\":\"2016-03-30T13:15:50.947Z\",\"updated_at\":\"2016-03-30T13:36:53.588Z\",\"description\":\"\",\"avatar\":null,\"membership_lock\":false,\"share_with_group_lock\":false,\"visibility_level\":20,\"last_ldap_sync_at\":null},\"avatar_url\":null,\"star_count\":0,\"forks_count\":0,\"open_issues_count\":0,\"runners_token\":\"wyVtSdo4YEXqkBCvJryV\",\"public_builds\":true,\"permissions\":{\"project_access\":{\"access_level\":40,\"notification_level\":3},\"group_access\":null}}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"130812c6ef87e2767447885ddc81cbb5\"",
          "Status": "200 OK"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/projects/<GITLAB_NAMESPACE>%2Ffoobar"
      }
    },
    {
      "recorded_at": "2016-03-30T14:13:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "DELETE",
        "uri": "https://gitlab.com/api/v3/projects/1015171"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "\"3c0034595e9e5467ce746df1\""
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"3a43d04124c854dc889816f23387a931\"",
          "Status": "200 OK"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/projects/1015171"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}