{
  "http_interactions": [
    {
      "recorded_at": "2019-08-26T21:55:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"bio\":\": :(){ :|:\\u0026 };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"public_email\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"https://twitter.com/<GITLAB_NAMESPACE>\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":\"\",\"last_sign_in_at\":\"2019-08-19T16:34:20.318Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"last_activity_on\":\"2019-08-26\",\"email\":\"<GITLAB_NAMESPACE>+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":2,\"projects_limit\":100000,\"current_sign_in_at\":\"2019-08-26T12:05:47.884Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_profile\":false,\"shared_runners_minutes_limit\":2000,\"extra_shared_runners_minutes_limit\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"c277655375af222ec17621ae3125a5fd\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "1",
          "RateLimit-Remaining": "599",
          "RateLimit-Reset": "1566856597",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:56:37 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/user"
      }
    },
    {
      "recorded_at": "2019-08-26T21:55:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/projects/sigmavirus24%2Fgithub3-py"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":7817,\"description\":\"\",\"name\":\"github3.py\",\"name_with_namespace\":\"Ian Stapleton Cordasco / github3.py\",\"path\":\"github3-py\",\"path_with_namespace\":\"sigmavirus24/github3-py\",\"created_at\":\"2013-07-07T04:31:48.000Z\",\"default_branch\":\"develop\",\"tag_list\":[],\"ssh_url_to_repo\":\"git@gitlab.com:sigmavirus24/github3-py.git\",\"http_url_to_repo\":\"https://gitlab.com/sigmavirus24/github3-py.git\",\"web_url\":\"https://gitlab.com/sigmavirus24/github3-py\",\"readme_url\":\"https://gitlab.com/sigmavirus24/github3-py/blob/develop/README.rst\",\"avatar_url\":null,\"star_count\":1,\"forks_count\":2,\"last_activity_at\":\"2014-12-21T15:58:17.464Z\",\"namespace\":{\"id\":6577,\"name\":\"Ian Stapleton Cordasco\",\"path\":\"sigmavirus24\",\"kind\":\"user\",\"full_path\":\"sigmavirus24\",\"parent_id\":null,\"avatar_url\":\"https://secure.gravatar.com/avatar/396e3de53320abf9855d912cd3d9431f?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/sigmavirus24\"},\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/7817\",\"issues\":\"https://gitlab.com/api/v4/projects/7817/issues\",\"merge_requests\":\"https://gitlab.com/api/v4/projects/7817/merge_requests\",\"repo_branches\":\"https://gitlab.com/api/v4/projects/7817/repository/branches\",\"labels\":\"https://gitlab.com/api/v4/projects/7817/labels\",\"events\":\"https://gitlab.com/api/v4/projects/7817/events\",\"members\":\"https://gitlab.com/api/v4/projects/7817/members\"},\"empty_repo\":false,\"archived\":false,\"visibility\":\"public\",\"owner\":{\"id\":6325,\"name\":\"Ian Stapleton Cordasco\",\"username\":\"sigmavirus24\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/396e3de53320abf9855d912cd3d9431f?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/sigmavirus24\"},\"resolve_outdated_diff_discussions\":null,\"container_registry_enabled\":null,\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"jobs_enabled\":false,\"snippets_enabled\":false,\"issues_access_level\":\"enabled\",\"repository_access_level\":\"enabled\",\"merge_requests_access_level\":\"enabled\",\"wiki_access_level\":\"enabled\",\"builds_access_level\":\"disabled\",\"snippets_access_level\":\"disabled\",\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":6325,\"import_status\":\"finished\",\"open_issues_count\":0,\"ci_default_git_depth\":null,\"public_jobs\":true,\"build_timeout\":3600,\"auto_cancel_pending_pipelines\":\"enabled\",\"build_coverage_regex\":null,\"ci_config_path\":null,\"shared_with_groups\":[],\"only_allow_merge_if_pipeline_succeeds\":false,\"request_access_enabled\":true,\"only_allow_merge_if_all_discussions_are_resolved\":null,\"printing_merge_request_link_enabled\":true,\"merge_method\":\"merge\",\"auto_devops_enabled\":false,\"auto_devops_deploy_strategy\":\"continuous\",\"permissions\":{\"project_access\":null,\"group_access\":null},\"approvals_before_merge\":0,\"mirror\":false,\"external_authorization_classification_label\":\"\",\"packages_enabled\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"68f724117132ecde04070ee433755f08\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "2",
          "RateLimit-Remaining": "598",
          "RateLimit-Reset": "1566856599",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:56:39 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/projects/sigmavirus24%2Fgithub3-py"
      }
    },
    {
      "recorded_at": "2019-08-26T21:55:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{}"
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "POST",
        "uri": "https://gitlab.com/api/v4/projects/7817/fork"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":13999059,\"description\":\[...]
