{
  "http_interactions": [
    {
      "recorded_at": "2016-12-24T15:29:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"username\": \"<BITBUCKET_NAMESPACE>\", \"website\": \"http://i.got.nothing.to/blog\", \"display_name\": \"Guyzmo\", \"uuid\": \"{abf29c83-e77e-4c9a-b5c7-38db801ef79e}\", \"links\": {\"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/hooks\"}, \"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>\"}, \"repositories\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/\"}, \"followers\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/followers\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/<BITBUCKET_NAMESPACE>/avatar/32/\"}, \"following\": {\"href\": \"https://api.bitbucket.org/2.0/users/<BITBUCKET_NAMESPACE>/following\"}, \"snippets\": {\"href\": \"https://api.bitbucket.org/2.0/snippets/<BITBUCKET_NAMESPACE>\"}}, \"created_on\": \"2008-09-20T15:08:53.695316+00:00\", \"location\": null, \"type\": \"user\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"321b3bdea810843db96c90951905a5e3\"",
          "X-Accepted-OAuth-Scopes": "account",
          "X-Render-Time": "0.0143671035767",
          "X-Request-Count": "212",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/user"
      }
    },
    {
      "recorded_at": "2016-12-24T15:29:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/users/git-repo-test"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"username\"[...]
    {
      "recorded_at": "2016-12-24T15:29:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/repositories/git-repo-test"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"pagelen\": 10, \"values\": [{\"scm\": \"git\", \"website\": null, \"has_wiki\": false, \"name\": \"git-repo\", \"links\": {\"watchers\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/watchers\"}, \"branches\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/refs/branches\"}, \"tags\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/refs/tags\"}, \"commits\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/commits\"}, \"clone\": [{\"href\": \"https://<BITBUCKET_NAMESPACE>@bitbucket.org/git-repo-test/git-repo.git\", \"name\": \"https\"}, {\"href\": \"ssh://git@bitbucket.org/git-repo-test/git-repo.git\", \"name\": \"ssh\"}], \"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo\"}, \"html\": {\"href\": \"https://bitbucket.org/git-repo-test/git-repo\"}, \"avatar\": {\"href\": \"https://bitbucket.org/git-repo-test/git-repo/avatar/32/\"}, \"hooks\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/hooks\"}, \"forks\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/forks\"}, \"downloads\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/downloads\"}, \"pullrequests\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/pullrequests\"}}, \"fork_policy\": \"allow_forks\", \"uuid\": \"{1e519bea-bd75-4432-a71a-9a7940be2614}\", \"language\": \"python\", \"created_on\": \"2016-03-30T13:30:15.539248+00:00\", \"parent\": {\"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/<BITBUCKET_NAMESPACE>/git-repo\"}, \"html\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/git-repo\"}, \"avatar\": {\"href\": \"https://bitbucket.org/<BITBUCKET_NAMESPACE>/git-repo/avatar/32/\"}}, \"type\": \"repository\", \"name\": \"git-repo\", \"full_name\": \"<BITBUCKET_NAMESPACE>/git-repo\", \"uuid\": \"{def9ba25-9853-43a5-ae92-bf8ad89b38b7}\"}, \"full_name\": \"git-repo-test/git-repo\", \"has_issues\": false, \"owner\": {\"username\": \"git-repo-test\", \"display_name\": \"Git-Repo\", \"type\": \"user\", \"uuid\": \"{bdabec94-244b-4341-8979-eb02fa20e8f5}\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/users/git-repo-test\"}, \"html\": {\"href\": \"https://bitbucket.org/git-repo-test/\"}, \"avatar\": {\"href\": \"https://bitbucket.org/account/git-repo-test/avatar/32/\"}}}, \"updated_on\": \"2016-03-30T13:30:15.637449+00:00\", \"size\": 1468783, \"type\": \"repository\", \"slug\": \"git-repo\", \"is_private\": false, \"description\": \"\"}], \"page\": 1, \"size\": 1}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"a834594f8bded416225a41b3385f2757\"",
          "X-Accepted-OAuth-Scopes": "repository",
          "X-Render-Time": "0.0308620929718",
          "X-Request-Count": "489",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/repositories/git-repo-test"
      }
    },
    {
      "recorded_at": "2016-12-24T15:29:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/commits"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"pagelen\": 30, \"values\": [{\"hash\": \"da2d0802fccbec805c5f3ddad5ddc6a3eba54975\", \"repository\": {\"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo\"}, \"html\": {\"href\": \"https://bitbucket.org/git-repo-test/git-repo\"}, \"avatar\": {\"href\": \"https://bitbucket.org/git-repo-test/git-repo/avatar/32/\"}}, \"type\": \"repository\", \"name\": \"git-repo\", \"full_name\": \"git-repo-test/git-repo\", \"uuid\": \"{1e519bea-bd75-4432-a71a-9a7940be2614}\"}, \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/commit/da2d0802fccbec805c5f3ddad5ddc6a3eba54975\"}, \"comments\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/commit/da2d0802fccbec805c5f3ddad5ddc6a3eba54975/comments\"}, \"patch\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/patch/da2d0802fccbec805c5f3ddad5ddc6a3eba54975\"}, \"html\": {\"href\": \"https://bitbucket.org/git-repo-test/git-repo/commits/da2d0802fccbec805c5f3ddad5ddc6a3eba54975\"}, \"diff\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/diff/da2d0802fccbec805c5f3ddad5ddc6a3eba54975\"}, \"approve\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/commit/da2d0802fccbec805c5f3ddad5ddc6a3eba54975/approve\"}, \"statuses\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/commit/da2d0802fccbec805c5f3ddad5ddc6a3eba54975/statuses\"}}, \"author\": {\"raw\": \"Guyzmo <<BITBUCKET_NAMESPACE>+github@m0g.net>\"}, \"parents\": [{\"hash\": \"37a4887a4364ebe19b2f06844d1ef6a919ee2ad8\", \"type\": \"commit\", \"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/commit/37a4887a4364ebe19b2f06844d1ef6a919ee2ad8\"}, \"html\": {\"href\": \"https://bitbucket.org/git-repo-test/git-repo/commits/37a4887a4364ebe19b2f06844d1ef6a919ee2ad8\"}}}], \"date\": \"2016-03-30T13:00:21+00:00\", \"message\": \"Version bump to v1.5.0\\n\", \"type\": \"commit\"}, {\"hash\": \"37a4887a4364ebe19b2f06844d1ef6a919ee2ad8\", \"repository\": {\"links\": {\"self\": {\"href\": \"https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo\"}, \"html\": {\"href\": \"https://bitbucket.org/git-repo-test/git-repo\"}, \"avatar\": {\"href\": \"https://bitbucket.org/git-repo-test/git-repo/avatar/32/\"}}, \"type\": \"repository\", \"name\": \"git-repo\", \"full_name\":[...]
    {
      "recorded_at": "2016-12-24T15:29:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/commits?page=2"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
   [...]
[...]
    {
      "recorded_at": "2016-12-24T15:29:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/pullrequests"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"pagelen\": 10, \"values\": [], \"page\": 1, \"size\": 0}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"e671435b14693e94f294247ac6f96b5f\"",
          "X-Accepted-OAuth-Scopes": "pullrequest",
          "X-Render-Time": "0.0350279808044",
          "X-Request-Count": "617",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/pullrequests"
      }
    },
    {
      "recorded_at": "2016-12-24T15:29:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/forks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"pagelen\": 10, \"values\": [], \"page\": 1, \"size\": 0}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "\"e671435b14693e94f294247ac6f96b5f\"",
          "X-Accepted-OAuth-Scopes": "repository",
          "X-Render-Time": "0.0300087928772",
          "X-Request-Count": "424",
          "X-Static-Version": "e72177d765d6",
          "X-Version": "e72177d765d6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/forks"
      }
    },
    {
      "recorded_at": "2016-12-24T15:29:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Z3V5em1vOkpKNHRsNHNzMTRuLmMwbQ==",
          "From": "z+git-repo+pub@m0g.net"
        },
        "method": "GET",
        "uri": "https://api.bitbucket.org/2.0/repositories/git-repo-test/git-repo/watchers"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
         [...]
