{
  "http_interactions": [
    {
      "recorded_at": "2016-05-12T18:40:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "401 Unauthorized",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-RateLimit-Limit": "60",
          "X-RateLimit-Remaining": "59",
          "X-RateLimit-Reset": "1463082020"
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "url": "https://api.github.com/user"
      }
    },
    {
      "recorded_at": "2016-05-12T18:40:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <PRIVATE_KEY_GITHUB>",
          "Content-Type": "application/json"
        },
        "method": "GET",
        "uri": "https://api.github.com/gists/42"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "Status": "401 Unauthorized",
          "X-GitHub-Media-Type": "github.v3; param=full; format=json",
          "X-RateLimit-Limit": "60",
          "X-RateLimit-Remaining": "58",
          "X-RateLimit-Reset": "1463082020"
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "url": "https://api.github.com/gists/42"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}