{
  "http_interactions": [
    {
      "recorded_at": "2019-08-26T21:45:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"bio\":\": :(){ :|:\\u0026 };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"public_email\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"https://twitter.com/<GITLAB_NAMESPACE>\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":\"\",\"last_sign_in_at\":\"2019-08-19T16:34:20.318Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"last_activity_on\":\"2019-08-26\",\"email\":\"<GITLAB_NAMESPACE>+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":2,\"projects_limit\":100000,\"current_sign_in_at\":\"2019-08-26T12:05:47.884Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_profile\":false,\"shared_runners_minutes_limit\":2000,\"extra_shared_runners_minutes_limit\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"c277655375af222ec17621ae3125a5fd\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "4",
          "RateLimit-Remaining": "596",
          "RateLimit-Reset": "1566855960",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:46:00 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/user"
      }
    },
    {
      "recorded_at": "2019-08-26T21:45:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"title\": \"this is a secret test.\", \"visibility\": \"private\", \"content\": \"Your best consolation is the hope that the things you failed to get weren't\\nreally worth having.\\n\", \"file_name\": \"random-fortune-1.txt\"}"
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "POST",
        "uri": "https://gitlab.com/api/v4/snippets"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1889264,\"title\":\"this is a secret test.\",\"file_name\":\"random-fortune-1.txt\",\"description\":null,\"visibility\":\"private\",\"author\":{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\"},\"updated_at\":\"2019-08-26T21:45:00.717Z\",\"created_at\":\"2019-08-26T21:45:00.717Z\",\"project_id\":null,\"web_url\":\"https://gitlab.com/snippets/1889264\",\"raw_url\":\"https://gitlab.com/snippets/1889264/raw\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"d65c98edf584e9e75fe71df7a42c3fdc\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "5",
          "RateLimit-Remaining": "595",
          "RateLimit-Reset": "1566855960",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:46:00 GMT"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://gitlab.com/api/v4/snippets"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}