{
  "http_interactions": [
    {
      "recorded_at": "2019-08-26T21:21:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"bio\":\": :(){ :|:\\u0026 };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"public_email\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"https://twitter.com/<GITLAB_NAMESPACE>\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":\"\",\"last_sign_in_at\":\"2019-08-19T16:34:20.318Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"last_activity_on\":\"2019-08-26\",\"email\":\"<GITLAB_NAMESPACE>+gitlab@m0g.net\",\"theme_id\":2,\"color_scheme_id\":2,\"projects_limit\":100000,\"current_sign_in_at\":\"2019-08-26T12:05:47.884Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_profile\":false,\"shared_runners_minutes_limit\":2000,\"extra_shared_runners_minutes_limit\":null}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"c277655375af222ec17621ae3125a5fd\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "2",
          "RateLimit-Remaining": "598",
          "RateLimit-Reset": "1566854567",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:22:47 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/user"
      }
    },
    {
      "recorded_at": "2019-08-26T21:21:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v4/projects/<GITLAB_NAMESPACE>%2Fgithub3-py"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":13997747,\"description\":\"\",\"name\":\"github3.py\",\"name_with_namespace\":\"Guyzmo / github3.py\",\"path\":\"github3-py\",\"path_with_namespace\":\"<GITLAB_NAMESPACE>/github3-py\",\"created_at\":\"2019-08-26T20:08:54.508Z\",\"default_branch\":\"develop\",\"tag_list\":[],\"ssh_url_to_repo\":\"git@gitlab.com:<GITLAB_NAMESPACE>/github3-py.git\",\"http_url_to_repo\":\"https://gitlab.com/<GITLAB_NAMESPACE>/github3-py.git\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>/github3-py\",\"readme_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>/github3-py/blob/develop/README.rst\",\"avatar_url\":null,\"star_count\":0,\"forks_count\":0,\"last_activity_at\":\"2019-08-26T20:08:54.508Z\",\"namespace\":{\"id\":540439,\"name\":\"Guyzmo\",\"path\":\"<GITLAB_NAMESPACE>\",\"kind\":\"user\",\"full_path\":\"<GITLAB_NAMESPACE>\",\"parent_id\":null,\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\"},\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/13997747\",\"issues\":\"https://gitlab.com/api/v4/projects/13997747/issues\",\"merge_requests\":\"https://gitlab.com/api/v4/projects/13997747/merge_requests\",\"repo_branches\":\"https://gitlab.com/api/v4/projects/13997747/repository/branches\",\"labels\":\"https://gitlab.com/api/v4/projects/13997747/labels\",\"events\":\"https://gitlab.com/api/v4/projects/13997747/events\",\"members\":\"https://gitlab.com/api/v4/projects/13997747/members\"},\"empty_repo\":false,\"archived\":false,\"visibility\":\"public\",\"owner\":{\"id\":459552,\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\"},\"resolve_outdated_diff_discussions\":false,\"container_registry_enabled\":true,\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"jobs_enabled\":false,\"snippets_enabled\":true,\"issues_access_level\":\"enabled\",\"repository_access_level\":\"enabled\",\"merge_requests_access_level\":\"enabled\",\"wiki_access_level\":\"enabled\",\"builds_access_level\":\"disabled\",\"snippets_access_level\":\"enabled\",\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":459552,\"forked_from_project\":{\"id\":7817,\"description\":\"\",\"name\":\"github3.py\",\"name_with_namespace\":\"Ian Stapleton Cordasco / github3.py\",\"path\":\"github3-py\",\"path_with_namespace\":\"sigmavirus24/github3-py\",\"created_at\":\"2013-07-07T04:31:48.000Z\",\"default_branch\":\"develop\",\"tag_list\":[],\"ssh_url_to_repo\":\"git@gitlab.com:sigmavirus24/github3-py.git\",\"http_url_to_repo\":\"https://gitlab.com/sigmavirus24/github3-py.git\",\"web_url\":\"https://gitlab.com/sigmavirus24/github3-py\",\"readme_url\":\"https://gitlab.com/sigmavirus24/github3-py/blob/develop/README.rst\",\"avatar_url\":null,\"star_count\":1,\"forks_count\":2,\"last_activity_at\":\"2014-12-21T15:58:17.464Z\",\"namespace\":{\"id\":6577,\"name\":\"Ian Stapleton Cordasco\",\"path\":\"sigmavirus24\",\"kind\":\"user\",\"full_path\":\"sigmavirus24\",\"parent_id\":null,\"avatar_url\":\"https://secure.gravatar.com/avatar/396e3de53320abf9855d912cd3d9431f?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/sigmavirus24\"}},\"import_status\":\"finished\",\"import_error\":null,\"open_issues_count\":0,\"runners_token\":\"3AGJvWcByozzTmtuuM5L\",\"ci_default_git_depth\":0,\"public_jobs\":true,\"build_git_strategy\":\"fetch\",\"build_timeout\":3600,\"auto_cancel_pending_pipelines\":\"enabled\",\"build_coverage_regex\":null,\"ci_config_path\":null,\"shared_with_groups\":[],\"only_allow_merge_if_pipeline_succeeds\":false,\"request_access_enabled\":false,\"only_allow_merge_if_all_discussions_are_resolved\":false,\"printing_merge_request_link_enabled\":true,\"merge_method\":\"merge\",\"auto_devops_enabled\":false,\"auto_devops_deploy_strategy\":\"continuous\",\"permissions\":{\"project_access\":{\"access_level\":40,\"notification_level\":3},\"group_access\":null},\"approvals_before_merge\":0,\"mirror\":false,\"external_authorization_classification_label\":\"\",\"packages_enabled\":true}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"2c19eb6a80735d5c0e94677808969fef\"",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "3",
          "RateLimit-Remaining": "597",
          "RateLimit-Reset": "1566854567",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:22:47 GMT"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v4/projects/<GITLAB_NAMESPACE>%2Fgithub3-py"
      }
    },
    {
      "recorded_at": "2019-08-26T21:21:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "DELETE",
        "uri": "https://gitlab.com/api/v4/projects/13997747"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"message\":\"202 Accepted\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "RateLimit-Limit": "600",
          "RateLimit-Observed": "4",
          "RateLimit-Remaining": "596",
          "RateLimit-Reset": "1566854567",
          "RateLimit-ResetTime": "Mon, 26 Aug 2019 21:22:47 GMT"
        },
        "status": {
          "code": 202,
          "message": "Accepted"
        },
        "url": "https://gitlab.com/api/v4/projects/13997747"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}