{
  "http_interactions": [
    {
      "recorded_at": "2016-12-23T16:29:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Tm9uZTpOb25l",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"id\":459552,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80&d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"is_admin\":false,\"bio\":\": :(){ :|:& };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":null,\"last_sign_in_at\":\"2016-12-14T13:20:32.657Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"email\":\"<GITLAB_NAMESPACE>+gitlab@m0g.net\",\"theme_id\":4,\"color_scheme_id\":4,\"projects_limit\":100000,\"current_sign_in_at\":\"2016-12-19T16:01:14.230Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"0b3d58265bf46a72f63a7ab27aad6cdd\""
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/user"
      }
    },
    {
      "recorded_at": "2016-12-23T16:29:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Tm9uZTpOb25l",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/snippets/32303"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":32303,\"title\":\"requirements.txt\",\"file_name\":\"requirements.txt\",\"author\":{\"name\":\"Guyzmo\",\"username\":\"<GITLAB_NAMESPACE>\",\"id\":459552,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80&d=identicon\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>\"},\"updated_at\":\"2016-11-27T19:24:41.751Z\",\"created_at\":\"2016-11-27T19:24:41.751Z\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>/git-repo/snippets/32303\",\"raw_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>/git-repo/snippets/32303/raw\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"4d9c06bd18535a225f37849900853628\""
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/snippets/32303"
      }
    },
    {
      "recorded_at": "2016-12-23T16:29:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Basic Tm9uZTpOb25l",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/snippets/32303/raw"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "docopt\nprogress\nGitPython>=2.1.0\nuritemplate.py==2.0.0\ngithub3.py==0.9.5\npython-gitlab>=0.13\nbitbucket-api\n"
        },
        "headers": {
          "Content-Type": "text/plain",
          "Etag": "W/\"67ae35bac55362fc1051c8a9230e0333\""
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/snippets/32303/raw"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}