{
  "http_interactions": [
    {
      "recorded_at": "2017-03-04T23:36:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"name\":\"Michael Russell\",\"username\":\"crazybus\",\"id\":922189,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/fbff0e16b2d2c737d36575686375c203?s=80&d=identicon\",\"web_url\":\"https://gitlab.com/crazybus\",\"created_at\":\"2017-01-02T21:31:34.426Z\",\"is_admin\":false,\"bio\":null,\"location\":null,\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"\",\"website_url\":\"\",\"organization\":null,\"last_sign_in_at\":\"2017-02-28T18:43:00.076Z\",\"confirmed_at\":\"2017-01-02T21:31:34.289Z\",\"email\":\"crazybus24@gmail.com\",\"theme_id\":2,\"color_scheme_id\":4,\"projects_limit\":100000,\"current_sign_in_at\":\"2017-03-04T16:30:18.407Z\",\"identities\":[{\"provider\":\"google_oauth2\",\"extern_uid\":\"118342393548148958779\"}],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":true,\"external\":false}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"8e35e69f3641436a588171181b0de9c3\""
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/user"
      }
    },
    {
      "recorded_at": "2017-03-04T23:36:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/crazybus%2Ftest_create_requests"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":2830817,\"description\":null,\"default_branch\":\"master\",\"tag_list\":[],\"public\":false,\"archived\":false,\"visibility_level\":0,\"ssh_url_to_repo\":\"git@gitlab.com:crazybus/test_create_requests.git\",\"http_url_to_repo\":\"https://gitlab.com/crazybus/test_create_requests.git\",\"web_url\":\"https://gitlab.com/crazybus/test_create_requests\",\"owner\":{\"name\":\"Michael Russell\",\"username\":\"crazybus\",\"id\":922189,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/fbff0e16b2d2c737d36575686375c203?s=80&d=identicon\",\"web_url\":\"https://gitlab.com/crazybus\"},\"name\":\"test_create_requests\",\"name_with_namespace\":\"Michael Russell / test_create_requests\",\"path\":\"test_create_requests\",\"path_with_namespace\":\"crazybus/test_create_requests\",\"container_registry_enabled\":true,\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"builds_enabled\":true,\"snippets_enabled\":false,\"created_at\":\"2017-03-04T23:36:16.987Z\",\"last_activity_at\":\"2017-03-04T23:36:16.987Z\",\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":922189,\"namespace\":{\"id\":1107131,\"name\":\"crazybus\",\"path\":\"crazybus\",\"kind\":\"user\"},\"avatar_url\":null,\"star_count\":0,\"forks_count\":0,\"open_issues_count\":0,\"runners_token\":\"mRkZBd-_9Pohkns84y_K\",\"public_builds\":true,\"shared_with_groups\":[],\"only_allow_merge_if_build_succeeds\":false,\"request_access_enabled\":false,\"only_allow_merge_if_all_discussions_are_resolved\":false,\"approvals_before_merge\":0,\"permissions\":{\"project_access\":{\"access_level\":40,\"notification_level\":3},\"group_access\":null}}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"e03c6b6653e6a6a4c1f252f937f8592b\""
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/projects/crazybus%2Ftest_create_requests"
      }
    },
    {
      "recorded_at": "2017-03-04T23:36:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"source_branch\": \"pr-test\", \"target_branch\": \"master\", \"title\": \"title\", \"description\": \"description\"}"
        },
        "headers": {
          "Content-type": "application/json",
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "POST",
        "uri": "https://gitlab.com/api/v3/projects/2830817/merge_requests"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":2605518,\"iid\":1,\"project_id\":2830817,\"title\":\"title\",\"description\":\"description\",\"state\":\"opened\",\"created_at\":\"2017-03-04T23:36:28.616Z\",\"updated_at\":\"2017-03-04T23:36:28.616Z\",\"target_branch\":\"master\",\"source_branch\":\"pr-test\",\"upvotes\":0,\"downvotes\":0,\"author\":{\"name\":\"Michael Russell\",\"username\":\"crazybus\",\"id\":922189,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/fbff0e16b2d2c737d36575686375c203?s=80&d=identicon\",\"web_url\":\"https://gitlab.com/crazybus\"},\"assignee\":null,\"source_project_id\":2830817,\"target_project_id\":2830817,\"labels\":[],\"work_in_progress\":false,\"milestone\":null,\"merge_when_build_succeeds\":false,\"merge_status\":\"unchecked\",\"sha\":\"f16c0d4a371caa606e951b157dc5709a87996cb4\",\"merge_commit_sha\":null,\"subscribed\":true,\"user_notes_count\":0,\"approvals_before_merge\":null,\"should_remove_source_branch\":null,\"force_remove_source_branch\":null,\"squash\":false,\"web_url\":\"https://gitlab.com/crazybus/test_create_requests/merge_requests/1\"}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"da575f32647af69c59092ddc47bd44cf\""
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://gitlab.com/api/v3/projects/2830817/merge_requests"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}