{
  "http_interactions": [
    {
      "recorded_at": "2017-05-03T22:48:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/user"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"name\":\"Guyzmo\",\"username\":\"guyzmo\",\"id\":459552,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/917dc55c63895af9953df7d798cdd5f8?s=80&d=identicon\",\"web_url\":\"https://gitlab.com/guyzmo\",\"created_at\":\"2016-03-21T12:52:59.859Z\",\"is_admin\":false,\"bio\":\": :(){ :|:& };:\",\"location\":\"Earth, Solar system, Milkyway, Universe\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"\",\"website_url\":\"http://i.got.nothing.to/blog\",\"organization\":null,\"last_sign_in_at\":\"2017-03-12T11:03:33.268Z\",\"confirmed_at\":\"2016-03-21T13:48:05.234Z\",\"last_activity_on\":\"2017-05-02\",\"email\":\"guyzmo+gitlab@m0g.net\",\"color_scheme_id\":4,\"projects_limit\":100000,\"current_sign_in_at\":\"2017-04-30T22:49:17.586Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"e7dea164670ef2af8a62249a71b010c6\""
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/user"
      }
    },
    {
      "recorded_at": "2017-05-03T22:48:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/<GITLAB_NAMESPACE>%2Fgit-repo"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1848932,\"description\":null,\"default_branch\":\"master\",\"tag_list\":[],\"public\":false,\"archived\":false,\"visibility_level\":0,\"ssh_url_to_repo\":\"git@gitlab.com:<GITLAB_NAMESPACE>/git-repo.git\",\"http_url_to_repo\":\"https://gitlab.com/<GITLAB_NAMESPACE>/git-repo.git\",\"web_url\":\"https://gitlab.com/<GITLAB_NAMESPACE>/git-repo\",\"name\":\"git-repo\",\"name_with_namespace\":\"<GITLAB_NAMESPACE> / git-repo\",\"path\":\"git-repo\",\"path_with_namespace\":\"<GITLAB_NAMESPACE>/git-repo\",\"container_registry_enabled\":true,\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"builds_enabled\":true,\"snippets_enabled\":true,\"created_at\":\"2016-10-15T20:46:59.928Z\",\"last_activity_at\":\"2017-05-03T22:48:11.731Z\",\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":459552,\"namespace\":{\"id\":938543,\"name\":\"<GITLAB_NAMESPACE>\",\"path\":\"<GITLAB_NAMESPACE>\",\"kind\":\"group\",\"full_path\":\"<GITLAB_NAMESPACE>\"},\"avatar_url\":null,\"star_count\":0,\"forks_count\":0,\"open_issues_count\":1,\"runners_token\":\"-vyTKYjbGYAP8GA3zDfz\",\"public_builds\":true,\"shared_with_groups\":[],\"only_allow_merge_if_build_succeeds\":false,\"request_access_enabled\":true,\"only_allow_merge_if_all_discussions_are_resolved\":null,\"approvals_before_merge\":0,\"permissions\":{\"project_access\":null,\"group_access\":{\"access_level\":50,\"notification_level\":3}}}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Etag": "W/\"84f23f6c21f19005498afac8e899fc2a\""
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gitlab.com/api/v3/projects/<GITLAB_NAMESPACE>%2Fgit-repo"
      }
    },
    {
      "recorded_at": "2017-05-04T10:32:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "PRIVATE-TOKEN": "<PRIVATE_KEY_GITLAB>"
        },
        "method": "GET",
        "uri": "https://gitlab.com/api/v3/projects/1848932/repository/tree"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"message\":\"404 Project Not Found\"}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://gitlab.com/api/v3/projects/1848932/repository/tree"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}