[buildout]
newest = false
parts =
    git_repo
    pytest
    test
#    tox
develop = .
eggs-directory     = ${buildout:directory}/var/eggs
develop-eggs-directory = ${buildout:directory}/var/develop-eggs
parts-directory    = ${buildout:directory}/var/parts
#develop-dir        = ${buildout:directory}/var/clone/

[git_repo]
recipe = zc.recipe.egg
eggs =
    git_repo
interpreter = python

[pytest]
recipe = zc.recipe.egg
eggs = pytest
       pytest-cov
       pytest-xdist
       pytest-sugar
       betamax
       betamax-serializers
       git_repo

# [tox]
# recipe      = gp.recipe.tox
# eggs        = tox
#               nose
#               pytest
#               betamax
#               betamax_matchers
#               decorator
#               nose-progressive
#               coverage
#               git_repo

[test]
recipe      = pbp.recipe.noserunner
eggs        = git_repo
              nose
              pytest
              betamax
              decorator
              nose-progressive
              coverage
defaults    = -x
              --with-progressive
              --with-coverage
              --where tests
              --cover-package git_repo
