[buildout]
newest = false
parts =
    pytest
    git_repo
develop = .
eggs-directory     = ${buildout:directory}/var/eggs
develop-eggs-directory = ${buildout:directory}/var/develop-eggs
parts-directory    = ${buildout:directory}/var/parts
#develop-dir        = ${buildout:directory}/var/clone/

[git_repo]
recipe = zc.recipe.egg
eggs =
    git_repo
interpreter = python3

[pytest]
recipe = zc.recipe.egg
arguments = ['--cov=git_repo', '--cov-report', 'term-missing']+sys.argv[1:]
eggs = pytest
       pytest-cov
       pytest-xdist
       pytest-sugar
       pytest-capturelog
       testfixtures
       mock
       betamax
       betamax-serializers
       git_repo
interpreter = python3

