[project]
	description = Git-Repo: CLI utility to manage git services from your workspace
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/guyzmo (guyzmo)
[access "refs/for/refs/*"]
	read = group user/guyzmo (guyzmo)
	push = group user/guyzmo (guyzmo)
	label-Code-Review = -2..+2 group user/guyzmo (guyzmo)
	label-Verified = -1..+1 group user/guyzmo (guyzmo)
	rebase = group user/guyzmo (guyzmo)
	removeReviewer = group user/guyzmo (guyzmo)
	submit = group user/guyzmo (guyzmo)
[access "refs/heads/*"]
	read = group user/guyzmo (guyzmo)
	create = group user/guyzmo (guyzmo)
	push = +force group user/guyzmo (guyzmo)
	pushMerge = group user/guyzmo (guyzmo)
[access "refs/tags/*"]
	push = group user/guyzmo (guyzmo)
	push = +force group user/guyzmo (guyzmo)
